/* Based on http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain) */

// Reset margins and padding for HTML elements
a,
abbr,
acronym,
address,
applet,
area,
article,
aside,
audio,
b,
base,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
frame,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: none;
  outline: none 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

// 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
// 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
html {
  font-size: 100%; /* 1 */
  font-size: 16px;
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

// Reset body to fill page
body {
  min-height: 100vh;
  // max-height: 100vh;
  overflow: auto;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
header,
main,
section,
aside,
menu {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  text-size-adjust: 100%;
  appearance: none;
}

// Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
[hidden] {
  display: none;
}

// Make sure to set some focus styles for accessibility
:focus {
  outline: 0;
}

// Address `outline` inconsistency between Chrome and other browsers.
a:focus {
  outline: thin dotted;
}

// Improve readability when focused and also mouse hovered in all browsers.
a:active,
a:hover {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

// Images
img {
  -ms-interpolation-mode: bicubic; // Improve image quality when scaled in IE 7.
  vertical-align: middle;
}

// 1. Correct color not being inherited in IE 6/7/8/9.
// 2. Correct text not wrapping in Firefox 3.
// 3. Correct alignment displayed oddly in IE 6/7.
legend {
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

embed,
object {
  width: 100%;
  height: 100%;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

// Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices.
audio:not([controls]) {
  display: none;
  height: 0;
}

form {
  width: 100%;
  display: block;
}

// 1. Correct font size not being inherited in all browsers.
// 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome.
// 3. Improve appearance and consistency in all browsers.
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
  &:focus {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

// Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet.
button,
input {
  line-height: normal;
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
// Correct `select` style inheritance in Firefox 4+ and Opera.
button,
select {
  text-transform: none;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type `input` and others.
// 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6.
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  overflow: visible; /* 4 */
}

::selection,
::-moz-selection {
  background: rgba(43, 113, 244, 0.04);
  text-shadow: none;
}

// Re-set default cursor for disabled elements.
button[disabled],
html input[disabled],
.disabled {
  cursor: not-allowed;
}

// 1. Address box sizing set to content-box in IE 8/9.
// 2. Remove excess padding in IE 8/9.
// 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6.

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 14px; /* 3 */
  *width: 14px; /* 3 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0; // Remove border in Firefox 3+.
  padding: 0; // Remove inner padding in Firefox 3+.
}

// Appearance of search forms
input[type="search"] {
  -webkit-appearance: textfield; // Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; // Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  box-sizing: content-box;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

textarea {
  overflow: auto; // Remove default vertical scrollbar in IE 6/7/8/9.
  vertical-align: top; // Improve readability and alignment in all browsers
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0; // Remove most spacing between table cells.
}
