/* LAYOUT CONTAINERS START */
html {
  scroll-behavior: smooth;
}

body {
  padding: $mb-space-m;
  background-color: $mb-color-gray-200;
  @include mb-text(m);
}

div {
  @include mb-text(m);
}

// nav {}
// header {}
// footer {}
// main {}
// section {}
// aside {}
// menu {}
// @Cristian needs specifications for this;

/* LAYOUT CONTAINERS END */

/* TEXT CONTAINERS START */

/* to be deleted & refactor after the icons & interations will be fixed*/
.mb-btn-s {
  @include mb-text(s);
  color: $mb-color-text-medium;
  padding: $mb-space-xs $mb-space-s;
  border: 0.0625rem solid rgba($mb-color-gray-highlight, $mb-opacity-xxs);
  @include mb-border-radius(s);
  background-color: $mb-color-gray-highlight;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    color: $mb-color-headings;
    background-color: $mb-color-primary-highlight;
    border: 0.0625rem solid rgba($mb-color-primary-highlight, $mb-opacity-xxs);
  }
  &:active {
    color: $mb-color-primary;
    background-color: $mb-color-primary-highlight;
    border: 0.0625rem solid rgba($mb-color-primary-highlight, $mb-opacity-xxs);
  }
}
.mb-btn-primary-s {
  @extend .mb-btn-s;
  color: $mb-color-white;
  background-color: $mb-color-primary;
  border: 0.0625rem solid $mb-color-primary;
  &:hover {
    color: $mb-color-white;
    background-color: $mb-color-primary-hover;
    border: 0.0625rem solid $mb-color-primary;
  }
  &:active {
    color: $mb-color-white;
    background-color: $mb-color-primary-active;
    border: 0.0625rem solid $mb-color-primary;
  }
}

/* to be deleted end*/

h1 {
  @include mb-heading(xxl);
  margin: $mb-space-m 0 $mb-space-l;
}

h2 {
  @include mb-heading(xl);
  margin: $mb-space-m 0 $mb-space-m;
}

h3 {
  @include mb-heading(l);
  margin: $mb-space-m 0 $mb-space-s;
}

h4 {
  @include mb-heading(m);
  margin: $mb-space-s 0 $mb-space-s;
}

h5 {
  @include mb-heading(s);
  text-transform: uppercase;
  margin: $mb-space-s 0 $mb-space-xs;
}

h6 {
  @include mb-heading(xs);
  margin: $mb-space-s 0 $mb-space-xxs;
}

p {
  @include mb-text(m);
  margin: 0 0 0.5em;
}

li {
  @include mb-text(m);
  margin: 0 0 0.5em;
}
// Use <blockquote cite="source"></blockquote>
// Add author in footer

blockquote {
  @include mb-text(l);
  padding-left: $mb-space-l;
  border-left: $mb-border-thick solid $mb-color-cyan-500;
  font-style: italic;
  margin: 0 0 0.5em;
  color: $mb-color-headings;
  footer {
    @include mb-caption(s);
    margin-top: $mb-space-xs;
    &::before {
      content: "\2014";
    }
  }
}

pre {
  @include mb-text(m);
  margin: 0 0 0.5em;
}

article {
  p {
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l;
  }
  li {
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l;
    &::before {
      display: inline-block;
      width: $mb-space-l;
      margin-left: -$mb-space-xl;
      text-align: center;
      direction: rtl;
      color: $mb-color-cyan;
    }
  }
  ul {
    padding-left: $mb-space-xl;
    li::before {
      content: "\2022";
      font-size: $mb-font-size-m;
    }
  }
  ol {
    padding-left: $mb-space-xl;
    list-style: none;
    counter-reset: li;
    li {
      counter-increment: li;
    }
    li::before {
      content: counter(li);
    }
  }
  dl {
  }
  dt {
    @include mb-label(l);
    margin: $mb-space-m 0 $mb-space-s;
  }
  dd {
    @include mb-text(l);
    margin: 0 0 0.5em;
  }
}

/* TEXT CONTAINERS END */

/* MEDIA START */

figcaption {
}
figure {
}
img {
  width: 100%;
  height: 100%;
}
audio {
}
video {
  display: block;
  width: 100%;
  height: 100%;
}
embed {
  width: 100%;
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* MEDIA END */

/* TABLES START */
table {
  width: 100%;
  caption {
  }
  colgroup {
    col {
    }
  }
  thead {
    tr {
      border-bottom: 0.0625rem solid $mb-color-border-dark;
      th {
        @include mb-heading(s);
        text-transform: uppercase;
        text-align: left;
        color: $mb-color-text-medium;
        padding: $mb-space-m;
      }
    }
  }
  tbody {
    tr {
      vertical-align: middle;
      border-bottom: 0.0625rem solid $mb-color-border-medium;
      td {
        text-align: left;
        padding: $mb-space-m;
      }
      &:hover {
        color: $mb-color-headings;
        background-color: $mb-color-gray-highlight;
      }
    }
  }
  tfoot {
    tr {
      vertical-align: middle;
      td {
        text-align: left;
        color: $mb-color-headings;
        padding: $mb-space-m;
      }
    }
  }
}

/* TABLES END */

/* BUTTONS START */

button {
  @extend .mb-btn-s;
}

/* BUTTONS END */

/* FORMS START */

form {
}

fieldset {
}

legend {
  @include mb-text(m);
  color: $mb-color-headings;
}

label {
  @include mb-label(s);
  margin: $mb-space-m 0 $mb-space-xs;
  display: block;
}

input {
  @include mb-caption(s);
  border: 0.0625rem solid $mb-color-border-medium;
  padding: $mb-space-xs $mb-space-s;
  @include mb-border-radius(s);
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="search"],
  &[type="tel"],
  &[type="url"] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }

  &[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    width: 2rem;
    height: 2rem;
  }
  &[type="range"] {
    width: 100%;
    padding: 0;
  }
  &[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    @include mb-border-radius(s);
  }
  &[type="color"]::-webkit-color-swatch {
    border: none;
    @include mb-border-radius(s);
  }
  &[type="reset"] {
    @extend .mb-btn-s;
  }
  &[type="submit"],
  &[type="button"] {
    // @include mb-primary;
    @extend .mb-btn-primary-s;
  }
  &:focus {
    border-color: $mb-color-primary;
    box-shadow: inset 0 0 0 $mb-color-primary;
  }
  &::placeholder {
    @include mb-caption(s);
    color: $mb-color-text-light;
  }
  &:disabled {
    background-color: $mb-color-gray-highlight;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: none;
  border: 0.0625rem solid $mb-color-primary;
  height: 2rem;
  width: 2rem;
  @include mb-border-radius(cicle);
  background-color: $mb-color-primary;
  cursor: pointer;
  margin-top: -$mb-space-xxs;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: none;
  border: 0.0625rem solid $mb-color-primary;
  height: 2rem;
  width: 2rem;
  @include mb-border-radius(cicle);
  background-color: $mb-color-primary;
  cursor: pointer;
  margin-top: -$mb-space-xxs;
}

input[type="range"]::-ms-thumb {
  box-shadow: none;
  border: 0.0625rem solid $mb-color-primary;
  height: 1rem;
  width: 1rem;
  @include mb-border-radius(cicle);
  background-color: $mb-color-primary;
  cursor: pointer;
  margin-top: -$mb-space-xxs;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  box-shadow: none;
  background-color: $mb-color-primary;
  @include mb-border-radius(s);
  border: 0.0625rem solid $mb-color-primary;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: $mb-color-primary-hover;
}

input[type="checkbox"] {
  display: none;
  margin: 0.2rem;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.0625rem solid $mb-color-border-medium;
  @include mb-border-radius(s);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: $mb-space-xxs;
  padding-bottom: $mb-space-xxs;
  margin-right: $mb-space-xs;
  vertical-align: bottom;
  color: transparent;
}
input[type="checkbox"]:hover + label:before {
  border: 0.0625rem solid $mb-color-border-dark;
  background-color: $mb-color-gray-highlight;
  cursor: pointer;
}
input[type="checkbox"] + label {
  padding: $mb-space-xs 0 0 0;
  margin-top: $mb-space-xs;
  @include mb-caption(s);
  color: $mb-color-text-medium;
}
input[type="checkbox"]:hover + label {
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
  background-color: $mb-color-primary;
  color: $mb-color-white;
  border: 0.0625rem solid $mb-color-primary;
}
input[type="checkbox"]:checked + label {
  color: $mb-color-headings;
}
input[type="checkbox"]:disabled + label:before {
  border-color: $mb-color-border-medium;
  background-color: $mb-color-gray-highlight;
}
input[type="checkbox"]:disabled + label {
  color: rgba($mb-color-gray, $mb-opacity-l);
}
input[type="checkbox"]:disabled:checked + label:before {
  background-color: rgba($mb-color-gray, $mb-opacity-l);
  color: $mb-color-white;
  border: 0.0625rem solid rgba($mb-color-gray, $mb-opacity-s);
}
input[type="checkbox"]:disabled:checked + label {
  color: rgba($mb-color-gray, $mb-opacity-l);
}

input[type="checkbox"]:disabled:checked:hover + label,
input[type="checkbox"]:disabled:checked:hover + label:before,
input[type="checkbox"]:disabled:hover + label:before,
input[type="checkbox"]:disabled:hover + label {
  cursor: not-allowed;
}
input[type="checkbox"]:checked:focus + label:before {
  border: 1px solid $mb-color-primary;
}
input[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid $mb-color-primary;
}

input[type="radio"] {
  display: none;
  margin: 0.2rem;
}

input[type="radio"] + label:before {
  content: "";
  border: 0.0625rem solid $mb-color-border-medium;
  @include mb-border-radius(circle);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: $mb-space-xxs;
  padding-bottom: $mb-space-xxs;
  margin-right: $mb-space-xs;
  vertical-align: bottom;
  color: transparent;
}
input[type="radio"]:hover + label:before {
  border: 0.0625rem solid $mb-color-border-dark;
  background-color: $mb-color-gray-highlight;
  cursor: pointer;
}
input[type="radio"] + label {
  padding: $mb-space-xs 0 0 0;
  @include mb-caption(s);
  color: $mb-color-text-medium;
}
input[type="radio"]:hover + label {
  cursor: pointer;
}
input[type="radio"]:checked + label:before {
  background-color: $mb-color-primary;
  color: $mb-color-primary;
  box-shadow: inset 0 0 0 $mb-space-xxs $mb-color-white;
  border: 0.0625rem solid $mb-color-primary;
}
input[type="radio"]:checked + label {
  color: $mb-color-headings;
}
input[type="radio"]:disabled + label:before {
  border-color: $mb-color-border-medium;
  background-color: $mb-color-gray-highlight;
}
input[type="cradio"]:disabled + label {
  color: rgba($mb-color-gray, $mb-opacity-l);
}
input[type="radio"]:disabled:checked + label:before {
  background-color: rgba($mb-color-gray, $mb-opacity-l);
  color: $mb-color-white;
  border: 0.0625rem solid rgba($mb-color-gray, $mb-opacity-s);
}
input[type="radio"]:disabled:checked + label {
  color: rgba($mb-color-gray, $mb-opacity-l);
}

input[type="radio"]:disabled:checked:hover + label,
input[type="radio"]:disabled:checked:hover + label:before,
input[type="radiox"]:disabled:hover + label:before,
input[type="radio"]:disabled:hover + label {
  cursor: not-allowed;
}
input[type="radio"]:checked:focus + label:before {
  border: 1px solid $mb-color-primary;
}
input[type="radio"]:not(:checked):focus + label:before {
  border: 1px solid $mb-color-primary;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator {
  content: url(../../src/assets/icons/icon-calendar.svg);
  position: relative;
  height: 1rem;
  width: 1rem;
  background: none;
  cursor: pointer;
}

//Cristian didn't succeed to add ::after and ::before icons directly to the inputs
.input-password {
  input[type="password"] {
    padding-right: $mb-space-xl;
    padding-left: $mb-space-xl;
  }
  &::after {
    content: url(../../src/assets/icons/icon-key.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: -$mb-space-l;
    top: 0.6rem;
    left: $mb-space-xs;
    position: relative;
  }
  &::before {
    content: url(../../src/assets/icons/view-icon.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    float: right;
    margin-left: -$mb-space-l;
    top: $mb-space-xs;
    right: $mb-space-xs;
    position: relative;
  }
}
.input-email {
  input[type="email"] {
    padding-left: $mb-space-xl;
  }
  &::after {
    content: url(../../src/assets/icons/email.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: -$mb-space-l;
    top: $mb-space-xs;
    left: $mb-space-xs;
    position: relative;
  }
}
.input-search {
  input[type="search"] {
    padding-left: $mb-space-xl;
  }
  &::after {
    content: url(../../src/assets/icons/icon-search.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: -$mb-space-l;
    top: $mb-space-xs;
    left: $mb-space-xs;
    position: relative;
  }
}
.input-phone {
  input[type="tel"] {
    padding-left: $mb-space-xl;
  }
  &::after {
    content: url(../../src/assets/icons/phone-call.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: -$mb-space-l;
    top: $mb-space-xs;
    left: $mb-space-xs;
    position: relative;
  }
}
.input-url {
  input[type="url"] {
    padding-left: $mb-space-xl;
  }
  &::after {
    content: url(../../src/assets/icons/link.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: -$mb-space-l;
    top: $mb-space-xs;
    left: $mb-space-xs;
    position: relative;
  }
}
// end input icons
label + input:after {
  width: 66%;
}

textarea {
  @include mb-text(m);
  border: 0.0625rem solid $mb-color-border-medium;
  padding: $mb-space-xs $mb-space-s;
  width: 100%;
  @include mb-border-radius(s);
  box-sizing: border-box;
  &:focus {
    border-color: $mb-color-primary;
    box-shadow: inset 0 0 0 $mb-color-primary;
  }
  &::placeholder {
    @include mb-caption(s);
    color: $mb-color-text-light;
  }
  &:disabled {
    background-color: $mb-color-gray-highlight;
  }
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: $mb-space-l;
  -moz-padding-end: $mb-space-l;
  -webkit-padding-start: $mb-space-xs;
  -moz-padding-start: $mb-space-xs;
  @include mb-text(m);
  padding: $mb-space-xs $mb-space-s;
  border: 0.0625rem solid $mb-color-border-medium;
  @include mb-border-radius(s);
  box-shadow: none;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  &:focus {
    border-color: $mb-color-primary;
    box-shadow: inset 0 0 0 $mb-color-primary;
  }
  &::placeholder {
    @include mb-caption(s);
    color: $mb-color-text-light;
  }
  &:disabled {
    background-color: $mb-color-gray-highlight;
  }
}

// Input with autocomplete
datalist {
}

optgroup {
  @include mb-heading(s);
  text-transform: uppercase;
  color: $mb-color-text-light;
  option {
    text-transform: none;
    padding-left: 0;
    margin-left: -20px;
  }
}

option {
  @include mb-text(m);
  padding: $mb-space-xs $mb-space-s;
  &:hover {
    color: $mb-color-headings;
    background-color: $mb-color-gray-highlight;
  }
  &:active {
    color: $mb-color-primary;
    background-color: $mb-color-primary-highlight;
  }
}

output {
}

meter {
  @include mb-border-radius(s);
  width: 100%;
  height: 1.5rem;
}
meter::-webkit-meter-bar {
  box-shadow: 0 0 0 0 rgba($mb-color-gray, $mb-opacity-m) inset;
  background-color: rgba($mb-color-gray, $mb-opacity-m);
  @include mb-border-radius(ms);
}
meter::-moz-meter-bar {
  background-color: rgba($mb-color-gray, $mb-opacity-m);
  @include mb-border-radius(ms);
}
meter::-webkit-meter-optimum-value {
  background-color: $mb-color-primary;
  border-radius: $mb-space-xxs 0 0 $mb-space-xxs;
}

progress {
  @include mb-border-radius(s);
  width: 100%;
  height: 1.5rem;
}
progress::-webkit-progress-bar {
  background-color: rgba($mb-color-gray, $mb-opacity-m);
  @include mb-border-radius(s);
}
progress::-moz-progress-bar {
  background-color: rgba($mb-color-gray, $mb-opacity-m);
  @include mb-border-radius(ms);
}

progress::-webkit-progress-value {
  background-color: $mb-color-primary;
  border-radius: $mb-space-xxs 0 0 $mb-space-xxs;
}

/* FORMS END */

/* INLINE ELEMENTS START */

a {
  color: $mb-color-link;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $mb-color-link-hover;
  }
  &:focus {
    outline-color: $mb-color-link;
    border: none;
  }
  &:active {
    color: $mb-color-link;
  }
  &:visited {
    color: $mb-color-link-visited;
  }
}
strong,
b {
  font-weight: $mb-font-weight-bold;
}
em,
i {
  font-style: italic;
}
mark {
  color: $mb-color-headings;
  background-color: $mb-color-primary-highlight;
}
del {
  color: $mb-color-text-light;
}
ins {
  background-color: $mb-color-primary-highlight;
}
small {
  @include mb-caption(xs);
  color: $mb-color-text-light;
}
//span {} // Cristian: I don't think we need to add style to span;
code {
  @include mb-border-radius(s);
  padding: $mb-space-xs;
  font-family: $mb-font-family-monospace;
  background-color: $mb-color-gray-highlight;
}
sub {
  vertical-align: sub;
  @include mb-caption(xs);
}
sup {
  vertical-align: super;
  @include mb-caption(xs);
}

// Short quotations
q {
  font-style: italic;
  color: $mb-color-headings;
  &::before {
    content: "❞";
    color: $mb-color-cyan;
  }
  &::after {
    content: "❝";
    color: $mb-color-cyan;
  }
}

/* INLINE ELEMENTS END */

/* MISC ELEMENTS START */

hr {
  border-top: 0.0625rem solid $mb-color-border-light;
}

// Text selection color:

::selection {
  color: $mb-color-headings;
  background-color: $mb-color-primary-highlight;
}
::-moz-selection {
  color: $mb-color-headings;
  background-color: $mb-color-primary-highlight;
}

// Scroll bar:

::-webkit-scrollbar {
  @include mb-border-radius(m);
  width: 0.5rem;
  height: 0.5rem;
  overflow: overlay;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
}
::-webkit-scrollbar-button {
  width: 0rem;
  height: 0rem;
}
::-webkit-scrollbar-thumb {
  @include mb-border-radius(m);
  background: rgba($mb-color-gray, $mb-opacity-m);
  border: 0px none $mb-color-white;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba($mb-color-gray, $mb-opacity-l);
}
::-webkit-scrollbar-thumb:active {
  background: rgba($mb-color-gray, $mb-opacity-m);
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none $mb-color-white;
  @include mb-border-radius(l);
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// body {
//   font-family: "IBM Plex Sans", sans-serif;
//   line-height: 1;
// }
// .bg-blue-100 {
//   background-color: $mb-color-blue-100;
//   color: $mb-mb-color-black;
// }
// .bg-blue-200 {
//   background-color: $mb-color-blue-200;
//   color: $mb-mb-color-black;
// }
// .bg-blue-300 {
//   background-color: $mb-color-blue-300;
//   color: $mb-mb-color-black;
// }
// .bg-blue-400 {
//   background-color: $mb-color-blue-400;
//   color: $mb-mb-color-black;
// }
// .bg-blue-500 {
//   background-color: $mb-color-blue-500;
//   color: $mb-color-white;
// }
// .bg-blue-600 {
//   background-color: $mb-color-blue-600;
//   color: $mb-color-white;
// }
// .bg-blue-700 {
//   background-color: $mb-color-blue-700;
//   color: $mb-color-white;
// }
// .bg-blue-800 {
//   background-color: $mb-color-blue-800;
//   color: $mb-color-white;
// }
// .bg-blue-900 {
//   background-color: $mb-color-blue-900;
//   color: $mb-color-white;
// }
// // red

// .bg-red-100 {
//   background-color: $mb-color-red-100;
//   color: $mb-mb-color-black;
// }
// .bg-red-200 {
//   background-color: $mb-color-red-200;
//   color: $mb-mb-color-black;
// }
// .bg-red-300 {
//   background-color: $mb-color-red-300;
//   color: $mb-mb-color-black;
// }
// .bg-red-400 {
//   background-color: $mb-color-red-400;
//   color: $mb-mb-color-black;
// }
// .bg-red-500 {
//   background-color: $mb-color-red-500;
//   color: $mb-color-white;
// }
// .bg-red-600 {
//   background-color: $mb-color-red-600;
//   color: $mb-color-white;
// }
// .bg-red-700 {
//   background-color: $mb-color-red-700;
//   color: $mb-color-white;
// }
// .bg-red-800 {
//   background-color: $mb-color-red-800;
//   color: $mb-color-white;
// }
// .bg-red-900 {
//   background-color: $mb-color-red-900;
//   color: $mb-color-white;
// }
// // yellow

// .bg-yellow-100 {
//   background-color: $mb-color-yellow-100;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-200 {
//   background-color: $mb-color-yellow-200;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-300 {
//   background-color: $mb-color-yellow-300;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-400 {
//   background-color: $mb-color-yellow-400;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-500 {
//   background-color: $mb-color-yellow-500;
//   color: $mb-color-white;
// }
// .bg-yellow-600 {
//   background-color: $mb-color-yellow-600;
//   color: $mb-color-white;
// }
// .bg-yellow-700 {
//   background-color: $mb-color-yellow-700;
//   color: $mb-color-white;
// }
// .bg-yellow-800 {
//   background-color: $mb-color-yellow-800;
//   color: $mb-color-white;
// }
// .bg-yellow-900 {
//   background-color: $mb-color-yellow-900;
//   color: $mb-color-white;
// }
// // indigo

// .bg-indigo-100 {
//   background-color: $mb-color-indigo-100;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-200 {
//   background-color: $mb-color-indigo-200;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-300 {
//   background-color: $mb-color-indigo-300;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-400 {
//   background-color: $mb-color-indigo-400;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-500 {
//   background-color: $mb-color-indigo-500;
//   color: $mb-color-white;
// }
// .bg-indigo-600 {
//   background-color: $mb-color-indigo-600;
//   color: $mb-color-white;
// }
// .bg-indigo-700 {
//   background-color: $mb-color-indigo-700;
//   color: $mb-color-white;
// }
// .bg-indigo-800 {
//   background-color: $mb-color-indigo-800;
//   color: $mb-color-white;
// }
// .bg-indigo-900 {
//   background-color: $mb-color-indigo-900;
//   color: $mb-color-white;
// }

// // purple

// .bg-purple-100 {
//   background-color: $mb-color-purple-100;
//   color: $mb-mb-color-black;
// }
// .bg-purple-200 {
//   background-color: $mb-color-purple-200;
//   color: $mb-mb-color-black;
// }
// .bg-purple-300 {
//   background-color: $mb-color-purple-300;
//   color: $mb-mb-color-black;
// }
// .bg-purple-400 {
//   background-color: $mb-color-purple-400;
//   color: $mb-mb-color-black;
// }
// .bg-purple-500 {
//   background-color: $mb-color-purple-500;
//   color: $mb-color-white;
// }
// .bg-purple-600 {
//   background-color: $mb-color-purple-600;
//   color: $mb-color-white;
// }
// .bg-purple-700 {
//   background-color: $mb-color-purple-700;
//   color: $mb-color-white;
// }
// .bg-purple-800 {
//   background-color: $mb-color-purple-800;
//   color: $mb-color-white;
// }
// .bg-purple-900 {
//   background-color: $mb-color-purple-900;
//   color: $mb-color-white;
// }

// // pink

// .bg-pink-100 {
//   background-color: $mb-color-pink-100;
//   color: $mb-mb-color-black;
// }
// .bg-pink-200 {
//   background-color: $mb-color-pink-200;
//   color: $mb-mb-color-black;
// }
// .bg-pink-300 {
//   background-color: $mb-color-pink-300;
//   color: $mb-mb-color-black;
// }
// .bg-pink-400 {
//   background-color: $mb-color-pink-400;
//   color: $mb-mb-color-black;
// }
// .bg-pink-500 {
//   background-color: $mb-color-pink-500;
//   color: $mb-color-white;
// }
// .bg-pink-600 {
//   background-color: $mb-color-pink-600;
//   color: $mb-color-white;
// }
// .bg-pink-700 {
//   background-color: $mb-color-pink-700;
//   color: $mb-color-white;
// }
// .bg-pink-800 {
//   background-color: $mb-color-pink-800;
//   color: $mb-color-white;
// }
// .bg-pink-900 {
//   background-color: $mb-color-pink-900;
//   color: $mb-color-white;
// }

// // cyan

// .bg-cyan-100 {
//   background-color: $mb-color-cyan-100;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-200 {
//   background-color: $mb-color-cyan-200;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-300 {
//   background-color: $mb-color-cyan-300;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-400 {
//   background-color: $mb-color-cyan-400;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-500 {
//   background-color: $mb-color-cyan-500;
//   color: $mb-color-white;
// }
// .bg-cyan-600 {
//   background-color: $mb-color-cyan-600;
//   color: $mb-color-white;
// }
// .bg-cyan-700 {
//   background-color: $mb-color-cyan-700;
//   color: $mb-color-white;
// }
// .bg-cyan-800 {
//   background-color: $mb-color-cyan-800;
//   color: $mb-color-white;
// }
// .bg-cyan-900 {
//   background-color: $mb-color-cyan-900;
//   color: $mb-color-white;
// }

// // teal

// .bg-teal-100 {
//   background-color: $mb-color-teal-100;
//   color: $mb-mb-color-black;
// }
// .bg-teal-200 {
//   background-color: $mb-color-teal-200;
//   color: $mb-mb-color-black;
// }
// .bg-teal-300 {
//   background-color: $mb-color-teal-300;
//   color: $mb-mb-color-black;
// }
// .bg-teal-400 {
//   background-color: $mb-color-teal-400;
//   color: $mb-mb-color-black;
// }
// .bg-teal-500 {
//   background-color: $mb-color-teal-500;
//   color: $mb-color-white;
// }
// .bg-teal-600 {
//   background-color: $mb-color-teal-600;
//   color: $mb-color-white;
// }
// .bg-teal-700 {
//   background-color: $mb-color-teal-700;
//   color: $mb-color-white;
// }
// .bg-teal-800 {
//   background-color: $mb-color-teal-800;
//   color: $mb-color-white;
// }
// .bg-teal-900 {
//   background-color: $mb-color-teal-900;
//   color: $mb-color-white;
// }

// // orange

// .bg-orange-100 {
//   background-color: $mb-color-orange-100;
//   color: $mb-mb-color-black;
// }
// .bg-orange-200 {
//   background-color: $mb-color-orange-200;
//   color: $mb-mb-color-black;
// }
// .bg-orange-300 {
//   background-color: $mb-color-orange-300;
//   color: $mb-mb-color-black;
// }
// .bg-orange-400 {
//   background-color: $mb-color-orange-400;
//   color: $mb-mb-color-black;
// }
// .bg-orange-500 {
//   background-color: $mb-color-orange-500;
//   color: $mb-color-white;
// }
// .bg-orange-600 {
//   background-color: $mb-color-orange-600;
//   color: $mb-color-white;
// }
// .bg-orange-700 {
//   background-color: $mb-color-orange-700;
//   color: $mb-color-white;
// }
// .bg-orange-800 {
//   background-color: $mb-color-orange-800;
//   color: $mb-color-white;
// }
// .bg-orange-900 {
//   background-color: $mb-color-orange-900;
//   color: $mb-color-white;
// }

// // cyan

// .bg-cyan-100 {
//   background-color: $mb-color-cyan-100;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-200 {
//   background-color: $mb-color-cyan-200;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-300 {
//   background-color: $mb-color-cyan-300;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-400 {
//   background-color: $mb-color-cyan-400;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-500 {
//   background-color: $mb-color-cyan-500;
//   color: $mb-color-white;
// }
// .bg-cyan-600 {
//   background-color: $mb-color-cyan-600;
//   color: $mb-color-white;
// }
// .bg-cyan-700 {
//   background-color: $mb-color-cyan-700;
//   color: $mb-color-white;
// }
// .bg-cyan-800 {
//   background-color: $mb-color-cyan-800;
//   color: $mb-color-white;
// }
// .bg-cyan-900 {
//   background-color: $mb-color-cyan-900;
//   color: $mb-color-white;
// }

// // gray

// .bg-gray-100 {
//   background-color: $mb-color-gray-100;
//   color: $mb-mb-color-black;
// }
// .bg-gray-200 {
//   background-color: $mb-color-gray-200;
//   color: $mb-mb-color-black;
// }
// .bg-gray-300 {
//   background-color: $mb-color-gray-300;
//   color: $mb-mb-color-black;
// }
// .bg-gray-400 {
//   background-color: $mb-color-gray-400;
//   color: $mb-mb-color-black;
// }
// .bg-gray-500 {
//   background-color: $mb-color-gray-500;
//   color: $mb-color-white;
// }
// .bg-gray-600 {
//   background-color: $mb-color-gray-600;
//   color: $mb-color-white;
// }
// .bg-gray-700 {
//   background-color: $mb-color-gray-700;
//   color: $mb-color-white;
// }
// .bg-gray-800 {
//   background-color: $mb-color-gray-800;
//   color: $mb-color-white;
// }
// .bg-gray-900 {
//   background-color: $mb-color-gray-900;
//   color: $mb-color-white;
// }

// // green

// .bg-green-100 {
//   background-color: $mb-color-green-100;
//   color: $mb-mb-color-black;
// }
// .bg-green-200 {
//   background-color: $mb-color-green-200;
//   color: $mb-mb-color-black;
// }
// .bg-green-300 {
//   background-color: $mb-color-green-300;
//   color: $mb-mb-color-black;
// }
// .bg-green-400 {
//   background-color: $mb-color-green-400;
//   color: $mb-mb-color-black;
// }
// .bg-green-500 {
//   background-color: $mb-color-green-500;
//   color: $mb-color-white;
// }
// .bg-green-600 {
//   background-color: $mb-color-green-600;
//   color: $mb-color-white;
// }
// .bg-green-700 {
//   background-color: $mb-color-green-700;
//   color: $mb-color-white;
// }
// .bg-green-800 {
//   background-color: $mb-color-green-800;
//   color: $mb-color-white;
// }
// .bg-green-900 {
//   background-color: $mb-color-green-900;
//   color: $mb-color-white;
// }
//
//
//
//
