.primary {
  background-color: $mb-color-primary;
  color: $mb-color-white;
  border: none;
  svg {
    .svg-fill {
      fill: $mb-color-white;
    }
    .svg-stroke {
      stroke: $mb-color-white;
    } // style for icons
  }
  &:hover {
    background-color: $mb-color-primary-hover;
  }
  &:active {
    background-color: $mb-color-primary-active;
  }
  &:disabled,
  &.disabled {
    background-color: fade-out(
      desaturate($mb-color-primary-disabled, 0.48),
      0.48
    ); // TBD
    color: fade-out($mb-color-white, 0.24);
    svg {
      .svg-fill {
        fill: fade-out(desaturate($mb-color-primary-disabled, 0.48), 0.48);
      }
      .svg-stroke {
        stroke: fade-out($mb-color-white, 0.24);
      } // style for icons
    }
  }
}

// Marius please add for other interactions

// Needs finalization by @CristianBurac, then replication for
// - secondary
// - base

// Additional classes will be used for, to override properties.
// Attention - primary-secondary-base represents hierarchy while danger-success-warning-info represents operation type (destructive, etc)
// - danger
// - success
// - warning
// - info
// - note

// .interaction {
//   &_red {
//     color: white;
//     background-color: $color-red-500;
//     &:hover {
//       background-color: $color-red-400;
//     }
//     &:active {
//       background-color: $color-red-400;
//     }
//     &:disabled {
//       background-color: rgba($color-red-500, 0.48);
//     }
//   }
//   &_orange {
//     color: white;
//     background-color: $color-orange-500;
//     &:hover {
//       background-color: $color-orange-400;
//     }
//     &:active {
//       background-color: $color-orange-400;
//     }
//     &:disabled {
//       background-color: rgba($color-orange-500, 0.48);
//     }
//   }
//   &_yellow {
//     color: white;
//     background-color: $color-yellow-500;
//     &:hover {
//       background-color: $color-yellow-400;
//     }
//     &:active {
//       background-color: $color-yellow-400;
//     }
//     &:disabled {
//       background-color: rgba($color-yellow-500, 0.48);
//     }
//   }
//   &_green {
//     color: white;
//     background-color: $color-green-500;
//     &:hover {
//       background-color: $color-green-400;
//     }
//     &:active {
//       background-color: $color-green-400;
//     }
//     &:disabled {
//       background-color: rgba($color-green-500, 0.48);
//     }
//   }
//   &_cyan {
//     color: white;
//     background-color: $color-cyan-500;
//     &:hover {
//       background-color: $color-cyan-400;
//     }
//     &:active {
//       background-color: $color-cyan-400;
//     }
//     &:disabled {
//       background-color: rgba($color-cyan-500, 0.48);
//     }
//   }
//   &_blue {
//     color: white;
//     background-color: $color-blue-500;
//     &:hover {
//       background-color: $color-blue-400;
//     }
//     &:active {
//       background-color: $color-blue-400;
//     }
//     &:disabled {
//       background-color: rgba($color-blue-500, 0.48);
//     }
//   }
//   &_indigo {
//     color: white;
//     background-color: $color-indigo-500;
//     &:hover {
//       background-color: $color-indigo-400;
//     }
//     &:active {
//       background-color: $color-indigo-400;
//     }
//     &:disabled {
//       background-color: rgba($color-indigo-500, 0.48);
//     }
//   }
//   &_pink {
//     color: white;
//     background-color: $color-pink-500;
//     &:hover {
//       background-color: $color-pink-400;
//     }
//     &:active {
//       background-color: $color-pink-400;
//     }
//     &:disabled {
//       background-color: rgba($color-pink-500, 0.48);
//     }
//   }
//   &_teal {
//     color: white;
//     background-color: $color-teal-500;
//     &:hover {
//       background-color: $color-teal-400;
//     }
//     &:active {
//       background-color: $color-teal-400;
//     }
//     &:disabled {
//       background-color: rgba($color-teal-500, 0.48);
//     }
//   }
//   &_purple {
//     color: white;
//     background-color: $color-purple-500;
//     &:hover {
//       background-color: $color-purple-400;
//     }
//     &:active {
//       background-color: $color-purple-400;
//     }
//     &:disabled {
//       background-color: rgba($color-purple-500, 0.48);
//     }
//   }
// }
