.mb-priority-primary {
  background-color: $mb-color-primary ;
  color: $mb-color-white;
  border: $mb-border-thin solid $mb-color-transparent;
  svg {
    .svg-fill {
      fill: $mb-color-white;
    }
    .svg-stroke {
      stroke: $mb-color-white;
    } // style for icons
  }
  &:hover {
    color: $mb-color-white;
    background-color: $mb-color-primary-dark;
  }
  &:active {
    color: $mb-color-white;
    background-color: $mb-color-primary-light;
  }
  &:disabled,
  &.disabled {
    background-color: fade-out(desaturate($mb-color-primary, $mb-opacity-m), $mb-opacity-l);
    color: fade-out($mb-color-white,0.24);
    svg {
      .svg-fill {
        fill: fade-out(desaturate($mb-color-primary, $mb-opacity-m), $mb-opacity-m);
      }
      .svg-stroke {
        stroke: fade-out($mb-color-white,0.24);
      } // style for icons
    }
  }
  &.mb-color-danger {
    background-color: $mb-color-danger;
    &:hover {
      background-color: $mb-color-danger-dark;
    }
    &:active {
      background-color: $mb-color-danger-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-danger, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-success {
    background-color: $mb-color-success;
    &:hover {
      background-color: $mb-color-success-dark;
    }
    &:active {
      background-color: $mb-color-success-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-success, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-info {
    background-color: $mb-color-info;
    &:hover {
      background-color: $mb-color-info-dark;
    }
    &:active {
      background-color: $mb-color-info-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-info, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-warning {
    background-color: $mb-color-warning;
    &:hover {
      background-color: $mb-color-warning-dark;
    }
    &:active {
      background-color: $mb-color-warning-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-warning, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-note {
    background-color: $mb-color-note;
    &:hover {
      background-color: $mb-color-note-dark;
    }
    &:active {
      background-color: $mb-color-note-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-note, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-lime {
    background-color: $mb-color-lime;
    &:hover {
      background-color: $mb-color-lime-dark;
    }
    &:active {
      background-color: $mb-color-lime-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-lime, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-teal {
    background-color: $mb-color-teal;
    &:hover {
      background-color: $mb-color-teal-dark;
    }
    &:active {
      background-color: $mb-color-teal-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-teal, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-pink {
    background-color: $mb-color-pink;
    &:hover {
      background-color: $mb-color-pink-dark;
    }
    &:active {
      background-color: $mb-color-pink-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-pink, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-purple {
    background-color: $mb-color-purple;
    &:hover {
      background-color: $mb-color-purple-dark;
    }
    &:active {
      background-color: $mb-color-purple-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-purple, $mb-opacity-m), $mb-opacity-l);
    }
  }
  &.mb-color-indigo {
    background-color: $mb-color-indigo;
    &:hover {
      background-color: $mb-color-indigo-dark;
    }
    &:active {
      background-color: $mb-color-indigo-light;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-indigo, $mb-opacity-m), $mb-opacity-l);
    }
  }
}

.mb-priority-secondary {
  background-color: $mb-color-white;
  color: $mb-color-text-medium;
  border: $mb-border-thin solid $mb-color-border-medium;
  svg {
    .svg-fill {
      fill: $mb-color-text-light;
    }
    .svg-stroke {
      stroke: $mb-color-text-light;
    } // style for icons
  }
  &:hover {
    color: $mb-color-headings;
    background-color: $mb-color-gray-highlight;
    border: $mb-border-thin solid $mb-color-border-dark;
    svg {
      .svg-fill {
        fill: $mb-color-text-medium;
      }
      .svg-stroke {
        stroke: $mb-color-text-medium;
      } // style for icons
    }
  }
  &:active {
    color: $mb-color-primary;
    background-color: $mb-color-primary-highlight;
    border: $mb-border-thin solid $mb-color-primary;
    svg {
      .svg-fill {
        fill: $mb-color-primary;
      }
      .svg-stroke {
        stroke: $mb-color-primary;
      } // style for icons
    }
  }
  &:disabled,
  &.disabled {
    background-color: fade-out(desaturate($mb-color-gray, $mb-opacity-m),0.9);
    color: fade-out($mb-color-text-medium, $mb-opacity-l);
    border: $mb-border-thin solid fade-out(desaturate($mb-color-gray, 0.24),0.9);
    svg {
      .svg-fill {
        fill: fade-out(desaturate($mb-color-text-medium, $mb-opacity-m), $mb-opacity-xl);
      }
      .svg-stroke {
        stroke: fade-out($mb-color-text-medium, $mb-opacity-xl);
      } // style for icons
    }
  }
  &.mb-color-danger {
    color: $mb-color-danger;
    border: $mb-border-thin solid rgba($mb-color-danger, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-danger;
      }
      .svg-stroke {
        stroke: $mb-color-danger;
      } // style for icons
    }
    &:hover {
      color: $mb-color-danger-dark;
      background-color: $mb-color-danger-highlight;
      border: $mb-border-thin solid rgba($mb-color-danger, $mb-opacity-m);
      svg {
        .svg-fill {
          fill: $mb-color-danger-dark;
        }
        .svg-stroke {
          stroke: $mb-color-danger-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-danger;
      background-color: $mb-color-danger-highlight;
      border: $mb-border-thin solid $mb-color-danger;
      svg {
        .svg-fill {
          fill: $mb-color-danger-light;
        }
        .svg-stroke {
          stroke: $mb-color-danger-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-danger, $mb-opacity-m),0.9);
      color: fade-out($mb-color-danger, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-danger, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-danger, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-danger, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-success {
    color: $mb-color-success;
    border: $mb-border-thin solid rgba($mb-color-success, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-success;
      }
      .svg-stroke {
        stroke: $mb-color-success;
      } // style for icons
    }
    &:hover {
      color: $mb-color-success-dark;
      background-color: $mb-color-success-highlight;
      border: $mb-border-thin solid rgba($mb-color-success, $mb-opacity-m);
      svg {
        .svg-fill {
          fill: $mb-color-success-dark;
        }
        .svg-stroke {
          stroke: $mb-color-success-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-success;
      background-color: $mb-color-success-highlight;
      border: $mb-border-thin solid $mb-color-success;
      svg {
        .svg-fill {
          fill: $mb-color-success-light;
        }
        .svg-stroke {
          stroke: $mb-color-success-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-success, $mb-opacity-m),0.9);
      color: fade-out($mb-color-success, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-success, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-success, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-success, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-info {
    color: $mb-color-info;
    border: $mb-border-thin solid rgba($mb-color-info, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-info;
      }
      .svg-stroke {
        stroke: $mb-color-info;
      } // style for icons
    }
    &:hover {
      color: $mb-color-info-dark;
      background-color: $mb-color-info-highlight;
      border: $mb-border-thin solid rgba($mb-color-info, $mb-opacity-m);
      svg {
        .svg-fill {
          fill: $mb-color-info-dark;
        }
        .svg-stroke {
          stroke: $mb-color-info-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-info;
      background-color: $mb-color-info-highlight;
      border: $mb-border-thin solid $mb-color-info;
      svg {
        .svg-fill {
          fill: $mb-color-info-light;
        }
        .svg-stroke {
          stroke: $mb-color-info-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-info, $mb-opacity-m),0.9);
      color: fade-out($mb-color-info, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-info, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-info, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-info, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-warning {
    color: $mb-color-warning;
    border: $mb-border-thin solid rgba($mb-color-warning, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-warning;
      }
      .svg-stroke {
        stroke: $mb-color-warning;
      } // style for icons
    }
    &:hover {
      color: $mb-color-warning-dark;
      background-color: $mb-color-warning-highlight;
      border: $mb-border-thin solid rgba($mb-color-warning, $mb-opacity-m);
      svg {
        .svg-fill {
          fill: $mb-color-warning-dark;
        }
        .svg-stroke {
          stroke: $mb-color-warning-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-warning;
      background-color: $mb-color-warning-highlight;
      border: $mb-border-thin solid $mb-color-warning;
      svg {
        .svg-fill {
          fill: $mb-color-warning-light;
        }
        .svg-stroke {
          stroke: $mb-color-warning-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-warning, $mb-opacity-m),0.9);
      color: fade-out($mb-color-warning, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-warning, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-warning, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-warning, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-note {
    color: $mb-color-note;
    border: $mb-border-thin solid rgba($mb-color-note, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-note;
      }
      .svg-stroke {
        stroke: $mb-color-note;
      } // style for icons
    }
    &:hover {
      color: $mb-color-note-dark;
      background-color: $mb-color-note-highlight;
      border: $mb-border-thin solid rgba($mb-color-note, $mb-opacity-m);
    }
    &:active {
      color: $mb-color-note;
      background-color: $mb-color-note-highlight;
      border: $mb-border-thin solid $mb-color-note;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-note, $mb-opacity-m),0.9);
      color: fade-out($mb-color-note, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-note, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-note, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-note, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-lime {
    color: $mb-color-pink;
    border: $mb-border-thin solid rgba($mb-color-lime, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-lime;
      }
      .svg-stroke {
        stroke: $mb-color-lime;
      } // style for icons
    }
    &:hover {
      color: $mb-color-lime-dark;
      background-color: $mb-color-lime-highlight;
      border: $mb-border-thin solid rgba($mb-color-lime, $mb-opacity-m);
    }
    &:active {
      color: $mb-color-lime;
      background-color: $mb-color-lime-highlight;
      border: $mb-border-thin solid $mb-color-lime;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-lime, $mb-opacity-m),0.9);
      color: fade-out($mb-color-lime, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-lime, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-lime, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-lime, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-teal {
    color: $mb-color-teal;
    border: $mb-border-thin solid rgba($mb-color-teal, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-teal;
      }
      .svg-stroke {
        stroke: $mb-color-teal;
      } // style for icons
    }
    &:hover {
      color: $mb-color-teal;
      background-color: $mb-color-teal-highlight;
      border: $mb-border-thin solid rgba($mb-color-teal, $mb-opacity-m);
    }
    &:active {
      color: $mb-color-teal;
      background-color: $mb-color-teal-highlight;
      border: $mb-border-thin solid $mb-color-teal;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-teal, $mb-opacity-m),0.9);
      color: fade-out($mb-color-teal, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-teal, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-teal, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-teal, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-pink {
    color: $mb-color-pink;
    border: $mb-border-thin solid rgba($mb-color-pink, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-pink;
      }
      .svg-stroke {
        stroke: $mb-color-pink;
      } // style for icons
    }
    &:hover {
      color: $mb-color-pink-dark;
      background-color: $mb-color-pink-highlight;
      border: $mb-border-thin solid rgba($mb-color-pink, $mb-opacity-m);
    }
    &:active {
      color: $mb-color-pink;
      background-color: $mb-color-pink-highlight;
      border: $mb-border-thin solid $mb-color-pink;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-pink, $mb-opacity-m),0.9);
      color: fade-out($mb-color-pink, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-pink, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-pink, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-pink, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-purple {
    color: $mb-color-purple;
    border: $mb-border-thin solid rgba($mb-color-purple, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-purple;
      }
      .svg-stroke {
        stroke: $mb-color-purple;
      } // style for icons
    }
    &:hover {
      color: $mb-color-purple-dark;
      background-color: $mb-color-purple-highlight;
      border: $mb-border-thin solid rgba($mb-color-purple, $mb-opacity-m);
    }
    &:active {
      color: $mb-color-purple;
      background-color: $mb-color-purple-highlight;
      border: $mb-border-thin solid $mb-color-purple;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-purple, $mb-opacity-m),0.9);
      color: fade-out($mb-color-purple, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-purple, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-purple, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-purple, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-indigo {
    color: $mb-color-indigo;
    border: $mb-border-thin solid rgba($mb-color-indigo, $mb-opacity-s);
    svg {
      .svg-fill {
        fill: $mb-color-indigo;
      }
      .svg-stroke {
        stroke: $mb-color-indigo;
      } // style for icons
    }
    &:hover {
      color: $mb-color-indigo-dark;
      background-color: $mb-color-indigo-highlight;
      border: $mb-border-thin solid rgba($mb-color-indigo, $mb-opacity-m);
    }
    &:active {
      color: $mb-color-indigo;
      background-color: $mb-color-indigo-highlight;
      border: $mb-border-thin solid $mb-color-indigo;
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-indigo, $mb-opacity-m),0.9);
      color: fade-out($mb-color-indigo, $mb-opacity-l);
      border: $mb-border-thin solid fade-out(desaturate($mb-color-indigo, 0.24),0.9);
      svg {
        .svg-fill {
          fill: fade-out(desaturate($mb-color-indigo, $mb-opacity-m), $mb-opacity-xl);
        }
        .svg-stroke {
          stroke: fade-out($mb-color-indigo, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
}

.mb-priority-base {
  background-color: $mb-color-white;
  color: $mb-color-text-medium;
  border: $mb-border-thin solid $mb-color-transparent;
  svg {
    #svg-fill,
    .svg-fill {
      fill: $mb-color-text-light;
    }
    #svg-stroke,
    .svg-stroke {
      stroke: $mb-color-text-light;
    } // style for icons
  }
  &:hover {
    color: $mb-color-headings;
    background-color: $mb-color-gray-highlight;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-text-medium;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-text-medium;
      } // style for icons
    }
  }
  &:active {
    color: $mb-color-primary;
    background-color: $mb-color-primary-highlight;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-primary;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-primary;
      } // style for icons
    }
  }
  &:disabled,
  &.disabled {
    background-color: fade-out(desaturate($mb-color-gray, $mb-opacity-m),0.9);
    color: fade-out($mb-color-text-medium, $mb-opacity-l);
    svg {
      #svg-fill,
      .svg-fill {
        fill: fade-out(desaturate($mb-color-text-medium, $mb-opacity-m), $mb-opacity-xl);
      }
      #svg-stroke,
      .svg-stroke {
        stroke: fade-out($mb-color-text-medium, $mb-opacity-xl);
      } // style for icons
    }
  }
  &.mb-color-danger{
    color: $mb-color-danger;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-danger;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-danger;
      } // style for icons
    }
    &:hover {
      color: $mb-color-danger-dark;
      background-color: $mb-color-danger-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-danger-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-danger-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-danger-light;
      background-color: $mb-color-danger-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-danger-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-danger-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-danger, $mb-opacity-m),0.9);
      color: fade-out($mb-color-danger, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-danger, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-danger, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-success{
    color: $mb-color-success;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-success;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-success;
      } // style for icons
    }
    &:hover {
      color: $mb-color-success-dark;
      background-color: $mb-color-success-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-success-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-success-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-success-light;
      background-color: $mb-color-success-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-success-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-success-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-success, $mb-opacity-m),0.9);
      color: fade-out($mb-color-success,$mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-success, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-success, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-info{
    color: $mb-color-info;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-info;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-info;
      } // style for icons
    }
    &:hover {
      color: $mb-color-info-dark;
      background-color: $mb-color-info-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-info-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-info-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-info-light;
      background-color: $mb-color-info-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-info-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-info-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-info, $mb-opacity-m),0.9);
      color: fade-out($mb-color-info,$mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-info, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-info,$mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-warning{
    color: $mb-color-warning;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-warning;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-warning;
      } // style for icons
    }
    &:hover {
      color: $mb-color-warning-dark;
      background-color: $mb-color-warning-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-warning-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-warning-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-warning-light;
      background-color: $mb-color-warning-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-warning-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-warning-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-warning, $mb-opacity-m),0.9);
      color: fade-out($mb-color-warning, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-warning, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-warning, $mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-note{
    color: $mb-color-note;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-note;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-note;
      } // style for icons
    }
    &:hover {
      color: $mb-color-note-dark;
      background-color: $mb-color-note-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-note-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-note-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-note-light;
      background-color: $mb-color-note-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-note-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-note-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-note, $mb-opacity-m),$mb-opacity-xl);
      color: fade-out($mb-color-note, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-note, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-note,$mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-lime{
    color: $mb-color-lime;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-lime;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-lime;
      } // style for icons
    }
    &:hover {
      color: $mb-color-lime-dark;
      background-color: $mb-color-lime-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-lime-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-lime-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-lime-light;
      background-color: $mb-color-lime-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-lime-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-lime-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-lime, $mb-opacity-m),$mb-opacity-xl);
      color: fade-out($mb-color-lime, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-lime, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-lime,$mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-teal{
    color: $mb-color-teal;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-teal;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-teal;
      } // style for icons
    }
    &:hover {
      color: $mb-color-teal-dark;
      background-color: $mb-color-teal-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-teal-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-teal-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-teal-light;
      background-color: $mb-color-teal-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-teal-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-teal-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-teal, $mb-opacity-m),$mb-opacity-xl);
      color: fade-out($mb-color-teal, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-teal, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-teal,$mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-pink{
    color: $mb-color-pink;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-pink;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-pink;
      } // style for icons
    }
    &:hover {
      color: $mb-color-pink-dark;
      background-color: $mb-color-pink-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-pink-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-pink-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-pink-light;
      background-color: $mb-color-pink-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-pink-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-pink-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-pink, $mb-opacity-m),$mb-opacity-xl);
      color: fade-out($mb-color-pink, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-pink, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-pink,$mb-opacity-xl);
        } // style for icons
      }
    }
  }
  &.mb-color-indigo{
    color: $mb-color-indigo;
    svg {
      #svg-fill,
      .svg-fill {
        fill: $mb-color-indigo;
      }
      #svg-stroke,
      .svg-stroke {
        stroke: $mb-color-indigo;
      } // style for icons
    }
    &:hover {
      color: $mb-color-indigo-dark;
      background-color: $mb-color-indigo-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-indigo-dark;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-indigo-dark;
        } // style for icons
      }
    }
    &:active {
      color: $mb-color-indigo-light;
      background-color: $mb-color-indigo-highlight;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-indigo-light;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-indigo-light;
        } // style for icons
      }
    }
    &:disabled,
    &.disabled {
      background-color: fade-out(desaturate($mb-color-indigo, $mb-opacity-m),$mb-opacity-xl);
      color: fade-out($mb-color-indigo, $mb-opacity-l);
      svg {
        #svg-fill,
        .svg-fill {
          fill: fade-out(desaturate($mb-color-indigo, $mb-opacity-m),$mb-opacity-xl);
        }
        #svg-stroke,
        .svg-stroke {
          stroke: fade-out($mb-color-indigo,$mb-opacity-xl);
        } // style for icons
      }
    }
  }
    &.mb-color-purple{
      color: $mb-color-purple;
      svg {
        #svg-fill,
        .svg-fill {
          fill: $mb-color-purple;
        }
        #svg-stroke,
        .svg-stroke {
          stroke: $mb-color-purple;
        } // style for icons
      }
      &:hover {
        color: $mb-color-purple-dark;
        background-color: $mb-color-purple-highlight;
        svg {
          #svg-fill,
          .svg-fill {
            fill: $mb-color-purple-dark;
          }
          #svg-stroke,
          .svg-stroke {
            stroke: $mb-color-purple-dark;
          } // style for icons
        }
      }
      &:active {
        color: $mb-color-purple-light;
        background-color: $mb-color-purple-highlight;
        svg {
          #svg-fill,
          .svg-fill {
            fill: $mb-color-purple-light;
          }
          #svg-stroke,
          .svg-stroke {
            stroke: $mb-color-purple-light;
          } // style for icons
        }
      }
      &:disabled,
      &.disabled {
        background-color: fade-out(desaturate($mb-color-purple, $mb-opacity-m),$mb-opacity-xl);
        color: fade-out($mb-color-purple, $mb-opacity-l);
        svg {
          #svg-fill,
          .svg-fill {
            fill: fade-out(desaturate($mb-color-purple, $mb-opacity-m),$mb-opacity-xl);
          }
          #svg-stroke,
          .svg-stroke {
            stroke: fade-out($mb-color-purple,$mb-opacity-xl);
          } // style for icons
        }
      }
    }
}