/* OPACITY START */

$mb-opacity-transparent        : 0.00;
$mb-opacity-xxs                : 0.04;
$mb-opacity-xs                 : 0.08;
$mb-opacity-s                  : 0.16;
$mb-opacity-m                  : 0.24;
$mb-opacity-l                  : 0.48;
$mb-opacity-xl                 : 0.72;
$mb-opacity-xxl                : 0.88;
$mb-opacity-full               : 1.00;

/* OPACITY END */

/* THEME PALETTE START */

$mb-color-blue-100             : #adccfa;
$mb-color-blue-200             : #8ab4f9;
$mb-color-blue-300             : #669cf7;
$mb-color-blue-400             : #4786f6;
$mb-color-blue-500             : #2b71f4;
$mb-color-blue-600             : #245fcf;
$mb-color-blue-700             : #1c4da7;
$mb-color-blue-800             : #153d7f;
$mb-color-blue-900             : #0e2a56;
$mb-color-blue                 : $mb-color-blue-500;
$mb-color-blue-light           : $mb-color-blue-400;
$mb-color-blue-dark            : $mb-color-blue-600;
$mb-color-blue-highlight       : rgba($mb-color-blue,$mb-opacity-xxs);

$mb-color-indigo-100           : #c2acf6;
$mb-color-indigo-200           : #a689f2;
$mb-color-indigo-300           : #8d65ef;
$mb-color-indigo-400           : #7343ec;
$mb-color-indigo-500           : #5c2ce9;
$mb-color-indigo-600           : #4d24c4;
$mb-color-indigo-700           : #3d1c9d;
$mb-color-indigo-800           : #2d1678;
$mb-color-indigo-900           : #1f0e54;
$mb-color-indigo               : $mb-color-indigo-500;
$mb-color-indigo-light         : $mb-color-indigo-400;
$mb-color-indigo-dark          : $mb-color-indigo-600;
$mb-color-indigo-highlight     : rgba($mb-color-indigo,$mb-opacity-xxs);

$mb-color-purple-100           : #c6bee7;
$mb-color-purple-200           : #af9fdb;
$mb-color-purple-300           : #9682d0;
$mb-color-purple-400           : #7e64c5;
$mb-color-purple-500           : #6749ba;
$mb-color-purple-600           : #563d9d;
$mb-color-purple-700           : #45317f;
$mb-color-purple-800           : #362760;
$mb-color-purple-900           : #241c42;
$mb-color-purple               : $mb-color-purple-500;
$mb-color-purple-light         : $mb-color-purple-400;
$mb-color-purple-dark          : $mb-color-purple-600;
$mb-color-purple-highlight     : rgba($mb-color-purple,$mb-opacity-xxs);

$mb-color-pink-100             : #e6bad3;
$mb-color-pink-200             : #df9bbe;
$mb-color-pink-300             : #d47aaa;
$mb-color-pink-400             : #ce5e97;
$mb-color-pink-500             : #c44581;
$mb-color-pink-600             : #a63a6d;
$mb-color-pink-700             : #862f59;
$mb-color-pink-800             : #652444;
$mb-color-pink-900             : #46192f;
$mb-color-pink                 : $mb-color-pink-500;
$mb-color-pink-light           : $mb-color-pink-400;
$mb-color-pink-dark            : $mb-color-pink-600;
$mb-color-pink-highlight       : rgba($mb-color-pink,$mb-opacity-xxs);

$mb-color-red-100              : #e9b9be;
$mb-color-red-200              : #e19a9f;
$mb-color-red-300              : #d87c83;
$mb-color-red-400              : #d25e65;
$mb-color-red-500              : #cc454b;
$mb-color-red-600              : #aa3a3e;
$mb-color-red-700              : #8a3033;
$mb-color-red-800              : #682428;
$mb-color-red-900              : #481a1d;
$mb-color-red                  : $mb-color-red-500;
$mb-color-red-light            : $mb-color-red-400;
$mb-color-red-dark             : $mb-color-red-600;
$mb-color-red-highlight        : rgba($mb-color-red,$mb-opacity-xxs);

$mb-color-orange-100           : #f6d4b0;
$mb-color-orange-200           : #f3bf8c;
$mb-color-orange-300           : #f2aa6d;
$mb-color-orange-400           : #f0984e;
$mb-color-orange-500           : #ed8338;
$mb-color-orange-600           : #c76f2e;
$mb-color-orange-700           : #a05b25;
$mb-color-orange-800           : #7a461d;
$mb-color-orange-900           : #543011;
$mb-color-orange               : $mb-color-orange-500; 
$mb-color-orange-light         : $mb-color-orange-400;
$mb-color-orange-dark          : $mb-color-orange-600;
$mb-color-orange-highlight     : rgba($mb-color-orange,$mb-opacity-xxs);

$mb-color-yellow-100           : #faeaae;
$mb-color-yellow-200           : #fadf8d;
$mb-color-yellow-300           : #f7d66c;
$mb-color-yellow-400           : #f6cc53;
$mb-color-yellow-500           : #f5c244;
$mb-color-yellow-600           : #cea338;
$mb-color-yellow-700           : #a6852d;
$mb-color-yellow-800           : #806522;
$mb-color-yellow-900           : #574614;
$mb-color-yellow               : $mb-color-yellow-500;
$mb-color-yellow-light         : $mb-color-yellow-400;
$mb-color-yellow-dark          : $mb-color-yellow-600;
$mb-color-yellow-highlight     : rgba($mb-color-yellow,$mb-opacity-xxs);

$mb-color-lime-100             : #f0f4c3;
$mb-color-lime-200             : #e6ee9c;
$mb-color-lime-300             : #dce775;
$mb-color-lime-400             : #d4e157;
$mb-color-lime-500             : #cdcc39;
$mb-color-lime-600             : #c0ca33;
$mb-color-lime-700             : #afb42b;
$mb-color-lime-800             : #9e9e24;
$mb-color-lime-900             : #827717;
$mb-color-lime                 : $mb-color-lime-500;
$mb-color-lime-light           : $mb-color-lime-400;
$mb-color-lime-dark            : $mb-color-lime-600;
$mb-color-lime-highlight       : rgba($mb-color-lime,$mb-opacity-xxs);

$mb-color-green-100            : #badfbf;
$mb-color-green-200            : #9bd9a3;
$mb-color-green-300            : #80c187;
$mb-color-green-400            : #65b24b;
$mb-color-green-500            : #50a553;
$mb-color-green-600            : #438a45;
$mb-color-green-700            : #367037;
$mb-color-green-800            : #29572d;
$mb-color-green-900            : #1a3c1f;
$mb-color-green                : $mb-color-green-500;
$mb-color-green-light          : $mb-color-green-400;
$mb-color-green-dark           : $mb-color-green-600;
$mb-color-green-highlight      : rgba($mb-color-green,$mb-opacity-xxs);

$mb-color-teal-100             : #baebdb;
$mb-color-teal-200             : #9ce1cb;
$mb-color-teal-300             : #82d8bc;
$mb-color-teal-400             : #6ecfab;
$mb-color-teal-500             : #5bc69a;
$mb-color-teal-600             : #4ca782;
$mb-color-teal-700             : #3d8768;
$mb-color-teal-800             : #2f6850;
$mb-color-teal-900             : #1e4738;
$mb-color-teal                 : $mb-color-teal-500;
$mb-color-teal-light           : $mb-color-teal-400;
$mb-color-teal-dark            : $mb-color-teal-600;
$mb-color-teal-highlight       : rgba($mb-color-teal,$mb-opacity-xxs);

$mb-color-cyan-100             : #b3dee4;
$mb-color-cyan-200             : #94ceda;
$mb-color-cyan-300             : #76bfcd;
$mb-color-cyan-400             : #5bb1c1;
$mb-color-cyan-500             : #47a1b6;
$mb-color-cyan-600             : #3c8799;
$mb-color-cyan-700             : #2f6d7b;
$mb-color-cyan-800             : #23555f;
$mb-color-cyan-900             : #163c40;
$mb-color-cyan                 : $mb-color-cyan-500;
$mb-color-cyan-light           : $mb-color-cyan-400;
$mb-color-cyan-dark            : $mb-color-cyan-600;
$mb-color-cyan-highlight       : rgba($mb-color-cyan,$mb-opacity-xxs);

$mb-color-gray-100             : #f6fafb;
$mb-color-gray-200             : #e8ecef;
$mb-color-gray-300             : #dde2e5;
$mb-color-gray-400             : #cdd5d9;
$mb-color-gray-500             : #adb6bd;
$mb-color-gray-600             : #6d767c;
$mb-color-gray-700             : #494f57;
$mb-color-gray-800             : #343d40;
$mb-color-gray-900             : #212629;
$mb-color-gray                 : $mb-color-gray-500;
$mb-color-gray-highlight       : rgba($mb-color-gray-900,$mb-opacity-xxs);

$mb-color-white                : #ffffff;
$mb-color-transparent          : rgba($mb-color-white,0.0001); // Fixes bug in IE for background colors
$mb-color-black                : #000000;

/* THEME PALETTE END */

/* UTILITY COLORS START */

// Text colors
$mb-color-headings             : $mb-color-gray-900;
$mb-color-text-dark            : $mb-color-gray-800;
$mb-color-text-medium          : $mb-color-gray-700;
$mb-color-text-light           : $mb-color-gray-500;

// Border colors
$mb-color-border-darker          : $mb-color-gray-500;
$mb-color-border-dark          : $mb-color-gray-400;
$mb-color-border-medium        : $mb-color-gray-300;
$mb-color-border-light         : $mb-color-gray-200;

// Link colors
$mb-color-link                 : $mb-color-blue-600;
$mb-color-link-hover           : $mb-color-purple-500;
$mb-color-link-visited         : $mb-color-purple-700;

// Primary interaction colors
$mb-color-primary              : $mb-color-blue-500;
$mb-color-primary-dark         : $mb-color-blue-600;
$mb-color-primary-light        : $mb-color-blue-400;
$mb-color-primary-highlight    : $mb-color-blue-highlight;

// Danger/error colors
$mb-color-danger               : $mb-color-red-500;
$mb-color-danger-dark          : $mb-color-red-600;
$mb-color-danger-light         : $mb-color-red-400;
$mb-color-danger-highlight     : $mb-color-red-highlight;


// Success/confirmation colors
$mb-color-success              : $mb-color-green-500;
$mb-color-success-dark         : $mb-color-green-600;
$mb-color-success-light        : $mb-color-green-400;
$mb-color-success-highlight    : $mb-color-green-highlight;

// Warning error colors
$mb-color-warning              : $mb-color-orange-500;
$mb-color-warning-dark         : $mb-color-orange-600;
$mb-color-warning-light        : $mb-color-orange-400;
$mb-color-warning-highlight    : $mb-color-orange-highlight;

// Information alert colors
$mb-color-info                 : $mb-color-cyan-500;
$mb-color-info-dark            : $mb-color-cyan-600;
$mb-color-info-light           : $mb-color-cyan-400;
$mb-color-info-highlight       : $mb-color-cyan-highlight;

// Notes color
$mb-color-note                 : $mb-color-yellow-500;
$mb-color-note-dark            : $mb-color-yellow-600;
$mb-color-note-light           : $mb-color-yellow-400;
$mb-color-note-highlight       : $mb-color-yellow-highlight;

/* UTILITY COLORS END */

@mixin mb-color-disable($color, $type) {
  #{$type} :mb-color-adjust($color, -30%, -10%);
}
@function mb-color-adjust($mb-color, $mb-saturation, $mb-lightness){
  @return adjust-color($color : $mb-color, $saturation: $mb-saturation, $lightness: $mb-lightness);
}
