.primary {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  svg {
    fill: none;
    stroke: $color-white ; // style for icons
  }
  &:hover {
    background-color: $color-primary-hover;
  }
  &:active {
    background-color: $color-primary-active;
  }
  &:disabled,
  &.disabled {
    background-color: fade-out(desaturate($color-primary-disabled, 50%),48%); // TBD
    color: fade-out($color-white,24%);
    svg {
      stroke: fade-out($color-white,24%);
    }
  }
}

// Needs finalization by @CristianBurac, then replication for
// - secondary
// - base
// - danger
// - success
// - warning
// - info
// - note