/* OPACITY START */

$opacity-transparent        : 0;
$opacity-xxs                : 0.02;
$opacity-xs                 : 0.04;
$opacity-s                  : 0.08;
$opacity-m                  : 0.48;
$opacity-l                  : 0.64;
$opacity-xl                 : 0.80;
$opacity-full               : 1;

/* OPACITY END */

/* THEME PALETTE START */

$color-blue-100             : #adccfa;
$color-blue-200             : #8ab4f9;
$color-blue-300             : #669cf7;
$color-blue-400             : #4786f6;
$color-blue-500             : #2b71f4;
$color-blue-600             : #245fcf;
$color-blue-700             : #1c4da7;
$color-blue-800             : #153d7f;
$color-blue-900             : #0e2a56;
$color-blue                 : $color-blue-500;
$color-blue-highlight       : rgba($color-blue,$opacity-xs);

$color-indigo-100           : #c2acf6;
$color-indigo-200           : #a689f2;
$color-indigo-300           : #8d65ef;
$color-indigo-400           : #7343ec;
$color-indigo-500           : #5c2ce9;
$color-indigo-600           : #4d24c4;
$color-indigo-700           : #3d1c9d;
$color-indigo-800           : #2d1678;
$color-indigo-900           : #1f0e54;
$color-indigo               : $color-indigo-500;
$color-indigo-highlight     : rgba($color-indigo,$opacity-xs);

$color-purple-100           : #c6bee7;
$color-purple-200           : #af9fdb;
$color-purple-300           : #9682d0;
$color-purple-400           : #7e64c5;
$color-purple-500           : #6749ba;
$color-purple-600           : #563d9d;
$color-purple-700           : #45317f;
$color-purple-800           : #362760;
$color-purple-900           : #241c42;
$color-purple               : $color-purple-500;
$color-purple-highlight     : rgba($color-purple,$opacity-xs);

$color-pink-100             : #e6bad3;
$color-pink-200             : #df9bbe;
$color-pink-300             : #d47aaa;
$color-pink-400             : #ce5e97;
$color-pink-500             : #c44581;
$color-pink-600             : #a63a6d;
$color-pink-700             : #862f59;
$color-pink-800             : #652444;
$color-pink-900             : #46192f;
$color-pink                 : $color-pink-500;
$color-pink-highlight       : rgba($color-pink,$opacity-xs);

$color-red-100              : #e9b9be;
$color-red-200              : #e19a9f;
$color-red-300              : #d87c83;
$color-red-400              : #d25e65;
$color-red-500              : #cc454b;
$color-red-600              : #aa3a3e;
$color-red-700              : #8a3033;
$color-red-800              : #682428;
$color-red-900              : #481a1d;
$color-red                  : $color-red-500;
$color-red-highlight        : rgba($color-red,$opacity-xs);

$color-orange-100           : #f6d4b0;
$color-orange-200           : #f3bf8c;
$color-orange-300           : #f2aa6d;
$color-orange-400           : #f0984e;
$color-orange-500           : #ed8338;
$color-orange-600           : #c76f2e;
$color-orange-700           : #a05b25;
$color-orange-800           : #7a461d;
$color-orange-900           : #543011;
$color-orange               : $color-orange-500;
$color-orange-highlight     : rgba($color-orange,$opacity-xs);

$color-yellow-100           : #faeaae;
$color-yellow-200           : #fadf8d;
$color-yellow-300           : #f7d66c;
$color-yellow-400           : #f6cc53;
$color-yellow-500           : #f5c244;
$color-yellow-600           : #cea338;
$color-yellow-700           : #a6852d;
$color-yellow-800           : #806522;
$color-yellow-900           : #574614;
$color-yellow               : $color-yellow-500;
$color-yellow-highlight     : rgba($color-yellow,$opacity-xs);

$color-lime-100             : #f0f4c3;
$color-lime-200             : #e6ee9c;
$color-lime-300             : #dce775;
$color-lime-400             : #d4e157;
$color-lime-500             : #cdcc39;
$color-lime-600             : #c0ca33;
$color-lime-700             : #afb42b;
$color-lime-800             : #9e9e24;
$color-lime-900             : #827717;
$color-lime                 : $color-lime-500;
$color-lime-highlight       : rgba($color-lime,$opacity-xs);

$color-green-100            : #badfbf;
$color-green-200            : #9bd9a3;
$color-green-300            : #80c187;
$color-green-400            : #65b24b;
$color-green-500            : #50a553;
$color-green-600            : #438a45;
$color-green-700            : #367037;
$color-green-800            : #29572d;
$color-green-900            : #1a3c1f;
$color-green                : $color-green-500;
$color-green-highlight      : rgba($color-green,$opacity-xs);

$color-teal-100             : #baebdb;
$color-teal-200             : #9ce1cb;
$color-teal-300             : #82d8bc;
$color-teal-400             : #6ecfab;
$color-teal-500             : #5bc69a;
$color-teal-600             : #4ca782;
$color-teal-700             : #3d8768;
$color-teal-800             : #2f6850;
$color-teal-900             : #1e4738;
$color-teal                 : $color-teal-500;
$color-teal-highlight       : rgba($color-teal,$opacity-xs);

$color-cyan-100             : #b3dee4;
$color-cyan-200             : #94ceda;
$color-cyan-300             : #76bfcd;
$color-cyan-400             : #5bb1c1;
$color-cyan-500             : #47a1b6;
$color-cyan-600             : #3c8799;
$color-cyan-700             : #2f6d7b;
$color-cyan-800             : #23555f;
$color-cyan-900             : #163c40;
$color-cyan                 : $color-cyan-500;
$color-cyan-highlight       : rgba($color-cyan,$opacity-xs);

$color-gray-100             : #f6fafb;
$color-gray-200             : #e8ecef;
$color-gray-300             : #dde2e5;
$color-gray-400             : #cdd5d9;
$color-gray-500             : #adb6bd;
$color-gray-600             : #6d767c;
$color-gray-700             : #494f57;
$color-gray-800             : #343d40;
$color-gray-900             : #212629;
$color-gray                 : $color-gray-500;
$color-gray-highlight       : rgba($color-gray-900,$opacity-xs);

$color-white                : #ffffff;
$color-transparent          : rgba($color-white,$opacity-transparent);
$mb-color-black             : #000;
/* THEME PALETTE END */

/* UTILITY COLORS START */


$color-primary              : $color-blue-500;
$color-primary-hover        : $color-blue-600;
$color-primary-active       : $color-blue-400;
$color-primary-border       : $color-blue-500;
$color-primary-highlight    : $color-blue-highlight;


$color-secondary            : $color-white;
$color-secondary-hover      : $color-gray-200;
$color-secondary-active     : $color-gray-100;
$color-secondary-border     : $color-gray-300;
$color-secondary-highlight  : $color-gray-highlight;

$color-base                 : $color-white;
$color-base-hover           : $color-gray-200;
$color-base-active          : $color-blue-100;
$color-base-border          : $color-transparent;
$color-base-highlight       : $color-gray-highlight;

$color-danger               : $color-red-500;
$color-danger-hover         : $color-red-600;
$color-danger-active        : $color-red-400;
$color-danger-border        : $color-red-500;
$color-danger-highlight     : $color-red-highlight;

$color-success              : $color-green-500;
$color-success-hover        : $color-green-600;
$color-success-active       : $color-green-400;
$color-success-border       : $color-green-500;
$color-success-highlight    : $color-green-highlight;

$color-warning              : $color-orange-500;
$color-warning-hover        : $color-orange-600;
$color-warning-active       : $color-orange-400;
$color-warning-border       : $color-orange-500;
$color-warning-highlight    : $color-orange-highlight;

$color-info                 : $color-cyan-500;
$color-info-hover           : $color-cyan-600;
$color-info-active          : $color-cyan-400;
$color-info-border          : $color-cyan-500;
$color-info-highlight       : $color-cyan-highlight;

$color-note                 : $color-indigo-500;
$color-note-hover           : $color-indigo-600;
$color-note-active          : $color-indigo-400;
$color-note-border          : $color-indigo-500;
$color-note-highlight       : $color-indigo-highlight;

$color-border-light         : $color-gray-100;
$color-border-medium        : $color-gray-200;
$color-border-dark          : $color-gray-300;

/* UTILITY COLORS END */
