// body {
//   font-family: "IBM Plex Sans", sans-serif;
//   line-height: 1;
// }
// .bg-blue-100 {
//   background-color: $mb-color-blue-100;
//   color: $mb-mb-color-black;
// }
// .bg-blue-200 {
//   background-color: $mb-color-blue-200;
//   color: $mb-mb-color-black;
// }
// .bg-blue-300 {
//   background-color: $mb-color-blue-300;
//   color: $mb-mb-color-black;
// }
// .bg-blue-400 {
//   background-color: $mb-color-blue-400;
//   color: $mb-mb-color-black;
// }
// .bg-blue-500 {
//   background-color: $mb-color-blue-500;
//   color: $mb-color-white;
// }
// .bg-blue-600 {
//   background-color: $mb-color-blue-600;
//   color: $mb-color-white;
// }
// .bg-blue-700 {
//   background-color: $mb-color-blue-700;
//   color: $mb-color-white;
// }
// .bg-blue-800 {
//   background-color: $mb-color-blue-800;
//   color: $mb-color-white;
// }
// .bg-blue-900 {
//   background-color: $mb-color-blue-900;
//   color: $mb-color-white;
// }
// // red

// .bg-red-100 {
//   background-color: $mb-color-red-100;
//   color: $mb-mb-color-black;
// }
// .bg-red-200 {
//   background-color: $mb-color-red-200;
//   color: $mb-mb-color-black;
// }
// .bg-red-300 {
//   background-color: $mb-color-red-300;
//   color: $mb-mb-color-black;
// }
// .bg-red-400 {
//   background-color: $mb-color-red-400;
//   color: $mb-mb-color-black;
// }
// .bg-red-500 {
//   background-color: $mb-color-red-500;
//   color: $mb-color-white;
// }
// .bg-red-600 {
//   background-color: $mb-color-red-600;
//   color: $mb-color-white;
// }
// .bg-red-700 {
//   background-color: $mb-color-red-700;
//   color: $mb-color-white;
// }
// .bg-red-800 {
//   background-color: $mb-color-red-800;
//   color: $mb-color-white;
// }
// .bg-red-900 {
//   background-color: $mb-color-red-900;
//   color: $mb-color-white;
// }
// // yellow

// .bg-yellow-100 {
//   background-color: $mb-color-yellow-100;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-200 {
//   background-color: $mb-color-yellow-200;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-300 {
//   background-color: $mb-color-yellow-300;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-400 {
//   background-color: $mb-color-yellow-400;
//   color: $mb-mb-color-black;
// }
// .bg-yellow-500 {
//   background-color: $mb-color-yellow-500;
//   color: $mb-color-white;
// }
// .bg-yellow-600 {
//   background-color: $mb-color-yellow-600;
//   color: $mb-color-white;
// }
// .bg-yellow-700 {
//   background-color: $mb-color-yellow-700;
//   color: $mb-color-white;
// }
// .bg-yellow-800 {
//   background-color: $mb-color-yellow-800;
//   color: $mb-color-white;
// }
// .bg-yellow-900 {
//   background-color: $mb-color-yellow-900;
//   color: $mb-color-white;
// }
// // indigo

// .bg-indigo-100 {
//   background-color: $mb-color-indigo-100;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-200 {
//   background-color: $mb-color-indigo-200;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-300 {
//   background-color: $mb-color-indigo-300;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-400 {
//   background-color: $mb-color-indigo-400;
//   color: $mb-mb-color-black;
// }
// .bg-indigo-500 {
//   background-color: $mb-color-indigo-500;
//   color: $mb-color-white;
// }
// .bg-indigo-600 {
//   background-color: $mb-color-indigo-600;
//   color: $mb-color-white;
// }
// .bg-indigo-700 {
//   background-color: $mb-color-indigo-700;
//   color: $mb-color-white;
// }
// .bg-indigo-800 {
//   background-color: $mb-color-indigo-800;
//   color: $mb-color-white;
// }
// .bg-indigo-900 {
//   background-color: $mb-color-indigo-900;
//   color: $mb-color-white;
// }

// // purple

// .bg-purple-100 {
//   background-color: $mb-color-purple-100;
//   color: $mb-mb-color-black;
// }
// .bg-purple-200 {
//   background-color: $mb-color-purple-200;
//   color: $mb-mb-color-black;
// }
// .bg-purple-300 {
//   background-color: $mb-color-purple-300;
//   color: $mb-mb-color-black;
// }
// .bg-purple-400 {
//   background-color: $mb-color-purple-400;
//   color: $mb-mb-color-black;
// }
// .bg-purple-500 {
//   background-color: $mb-color-purple-500;
//   color: $mb-color-white;
// }
// .bg-purple-600 {
//   background-color: $mb-color-purple-600;
//   color: $mb-color-white;
// }
// .bg-purple-700 {
//   background-color: $mb-color-purple-700;
//   color: $mb-color-white;
// }
// .bg-purple-800 {
//   background-color: $mb-color-purple-800;
//   color: $mb-color-white;
// }
// .bg-purple-900 {
//   background-color: $mb-color-purple-900;
//   color: $mb-color-white;
// }

// // pink

// .bg-pink-100 {
//   background-color: $mb-color-pink-100;
//   color: $mb-mb-color-black;
// }
// .bg-pink-200 {
//   background-color: $mb-color-pink-200;
//   color: $mb-mb-color-black;
// }
// .bg-pink-300 {
//   background-color: $mb-color-pink-300;
//   color: $mb-mb-color-black;
// }
// .bg-pink-400 {
//   background-color: $mb-color-pink-400;
//   color: $mb-mb-color-black;
// }
// .bg-pink-500 {
//   background-color: $mb-color-pink-500;
//   color: $mb-color-white;
// }
// .bg-pink-600 {
//   background-color: $mb-color-pink-600;
//   color: $mb-color-white;
// }
// .bg-pink-700 {
//   background-color: $mb-color-pink-700;
//   color: $mb-color-white;
// }
// .bg-pink-800 {
//   background-color: $mb-color-pink-800;
//   color: $mb-color-white;
// }
// .bg-pink-900 {
//   background-color: $mb-color-pink-900;
//   color: $mb-color-white;
// }

// // cyan

// .bg-cyan-100 {
//   background-color: $mb-color-cyan-100;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-200 {
//   background-color: $mb-color-cyan-200;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-300 {
//   background-color: $mb-color-cyan-300;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-400 {
//   background-color: $mb-color-cyan-400;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-500 {
//   background-color: $mb-color-cyan-500;
//   color: $mb-color-white;
// }
// .bg-cyan-600 {
//   background-color: $mb-color-cyan-600;
//   color: $mb-color-white;
// }
// .bg-cyan-700 {
//   background-color: $mb-color-cyan-700;
//   color: $mb-color-white;
// }
// .bg-cyan-800 {
//   background-color: $mb-color-cyan-800;
//   color: $mb-color-white;
// }
// .bg-cyan-900 {
//   background-color: $mb-color-cyan-900;
//   color: $mb-color-white;
// }

// // teal

// .bg-teal-100 {
//   background-color: $mb-color-teal-100;
//   color: $mb-mb-color-black;
// }
// .bg-teal-200 {
//   background-color: $mb-color-teal-200;
//   color: $mb-mb-color-black;
// }
// .bg-teal-300 {
//   background-color: $mb-color-teal-300;
//   color: $mb-mb-color-black;
// }
// .bg-teal-400 {
//   background-color: $mb-color-teal-400;
//   color: $mb-mb-color-black;
// }
// .bg-teal-500 {
//   background-color: $mb-color-teal-500;
//   color: $mb-color-white;
// }
// .bg-teal-600 {
//   background-color: $mb-color-teal-600;
//   color: $mb-color-white;
// }
// .bg-teal-700 {
//   background-color: $mb-color-teal-700;
//   color: $mb-color-white;
// }
// .bg-teal-800 {
//   background-color: $mb-color-teal-800;
//   color: $mb-color-white;
// }
// .bg-teal-900 {
//   background-color: $mb-color-teal-900;
//   color: $mb-color-white;
// }

// // orange

// .bg-orange-100 {
//   background-color: $mb-color-orange-100;
//   color: $mb-mb-color-black;
// }
// .bg-orange-200 {
//   background-color: $mb-color-orange-200;
//   color: $mb-mb-color-black;
// }
// .bg-orange-300 {
//   background-color: $mb-color-orange-300;
//   color: $mb-mb-color-black;
// }
// .bg-orange-400 {
//   background-color: $mb-color-orange-400;
//   color: $mb-mb-color-black;
// }
// .bg-orange-500 {
//   background-color: $mb-color-orange-500;
//   color: $mb-color-white;
// }
// .bg-orange-600 {
//   background-color: $mb-color-orange-600;
//   color: $mb-color-white;
// }
// .bg-orange-700 {
//   background-color: $mb-color-orange-700;
//   color: $mb-color-white;
// }
// .bg-orange-800 {
//   background-color: $mb-color-orange-800;
//   color: $mb-color-white;
// }
// .bg-orange-900 {
//   background-color: $mb-color-orange-900;
//   color: $mb-color-white;
// }

// // cyan

// .bg-cyan-100 {
//   background-color: $mb-color-cyan-100;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-200 {
//   background-color: $mb-color-cyan-200;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-300 {
//   background-color: $mb-color-cyan-300;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-400 {
//   background-color: $mb-color-cyan-400;
//   color: $mb-mb-color-black;
// }
// .bg-cyan-500 {
//   background-color: $mb-color-cyan-500;
//   color: $mb-color-white;
// }
// .bg-cyan-600 {
//   background-color: $mb-color-cyan-600;
//   color: $mb-color-white;
// }
// .bg-cyan-700 {
//   background-color: $mb-color-cyan-700;
//   color: $mb-color-white;
// }
// .bg-cyan-800 {
//   background-color: $mb-color-cyan-800;
//   color: $mb-color-white;
// }
// .bg-cyan-900 {
//   background-color: $mb-color-cyan-900;
//   color: $mb-color-white;
// }

// // gray

// .bg-gray-100 {
//   background-color: $mb-color-gray-100;
//   color: $mb-mb-color-black;
// }
// .bg-gray-200 {
//   background-color: $mb-color-gray-200;
//   color: $mb-mb-color-black;
// }
// .bg-gray-300 {
//   background-color: $mb-color-gray-300;
//   color: $mb-mb-color-black;
// }
// .bg-gray-400 {
//   background-color: $mb-color-gray-400;
//   color: $mb-mb-color-black;
// }
// .bg-gray-500 {
//   background-color: $mb-color-gray-500;
//   color: $mb-color-white;
// }
// .bg-gray-600 {
//   background-color: $mb-color-gray-600;
//   color: $mb-color-white;
// }
// .bg-gray-700 {
//   background-color: $mb-color-gray-700;
//   color: $mb-color-white;
// }
// .bg-gray-800 {
//   background-color: $mb-color-gray-800;
//   color: $mb-color-white;
// }
// .bg-gray-900 {
//   background-color: $mb-color-gray-900;
//   color: $mb-color-white;
// }

// // green

// .bg-green-100 {
//   background-color: $mb-color-green-100;
//   color: $mb-mb-color-black;
// }
// .bg-green-200 {
//   background-color: $mb-color-green-200;
//   color: $mb-mb-color-black;
// }
// .bg-green-300 {
//   background-color: $mb-color-green-300;
//   color: $mb-mb-color-black;
// }
// .bg-green-400 {
//   background-color: $mb-color-green-400;
//   color: $mb-mb-color-black;
// }
// .bg-green-500 {
//   background-color: $mb-color-green-500;
//   color: $mb-color-white;
// }
// .bg-green-600 {
//   background-color: $mb-color-green-600;
//   color: $mb-color-white;
// }
// .bg-green-700 {
//   background-color: $mb-color-green-700;
//   color: $mb-color-white;
// }
// .bg-green-800 {
//   background-color: $mb-color-green-800;
//   color: $mb-color-white;
// }
// .bg-green-900 {
//   background-color: $mb-color-green-900;
//   color: $mb-color-white;
// }

blockquote {
  border-left: $mb-space-xxxs solid $mb-color-cyan-500;
  padding-left: 2em;
}

a {
  color: $mb-color-cyan-500;
  &:hover {
    color: $mb-color-cyan-400;
  }
  &:visited {
    color: $mb-color-purple-300;
  }
}

p,
li,
div {
  color: $mb-color-gray-800;
  font-size: $mb-font-size-l;
  line-height: $mb-line-height-l;
}

h1 {
  color: $mb-color-gray-900;
  font-size: $mb-font-size-xxxl;
  line-height: $mb-line-height-xxxl;
}

h2 {
  color: $mb-color-gray-900;
  font-size: $mb-font-size-xxl;
  line-height: $mb-line-height-xxl;
}

h3 {
  color: $mb-color-gray-900;
  font-size: $mb-font-size-xl;
  line-height: $mb-line-height-xl;
}

h4 {
  color: $mb-color-gray-900;
  font-size: $mb-font-size-l;
  line-height: $mb-line-height-l;
}

h5 {
  color: $mb-color-gray-900;
  font-size: $mb-font-size-m;
  line-height: $mb-line-height-l;
}

h6 {
  color: $mb-color-gray-900;
  font-size: $mb-font-size-s;
  line-height: $mb-line-height-s;
}

fieldset {
  border: none;
  outline: none;
  box-sizing: border-box;
}

.heading {
  color: $mb-color-gray-900;
  font-weight: $mb-font-weight-bold;
  font-size: $mb-font-size-l;
  &-xxxl {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-xxxl;
    line-height: $mb-line-height-xxxl;
  }
  &-xxl {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl;
  }
  &-xl {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl;
  }
  &-xl {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-xl;
    line-height: $mb-line-height-xl;
  }
  &-l {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l;
  }
  &-l {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l;
  }
  &-md {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-m;
    line-height: $mb-line-height-m;
  }
  &-sm {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-s;
    line-height: $mb-line-height-s;
  }
  &-xs {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-xs;
    line-height: $mb-line-height-xs;
  }
  &-xxs {
    color: $mb-color-gray-900;
    font-size: $mb-font-size-xxs;
    line-height: $mb-line-height-xxs;
  }
}

.text {
  color: $mb-color-gray-800;
  font-weight: $mb-font-weight-normal;
  font-size: $mb-font-size-m;
  &-xxxl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxxl;
    line-height: $mb-line-height-xxxl;
  }
  &-xxl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl;
  }
  &-xl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xl;
    line-height: $mb-line-height-xl;
  }
  &-l {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l;
  }
  &-l {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l;
  }
  &-md {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-m;
    line-height: $mb-line-height-m;
  }
  &-sm {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-s;
    line-height: $mb-line-height-s;
  }
  &-xs {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xs;
    line-height: $mb-line-height-xs;
  }
  &-xxs {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxs;
    line-height: $mb-line-height-xxs;
  }
}

.caption {
  color: $mb-color-gray-800;
  font-weight: $mb-font-weight-bold;
  font-size: $mb-font-size-l;
  &-xxxl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxxl;
    line-height: $mb-line-height-xxxl-compact;
  }
  &-xxl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl-compact;
  }
  &-xl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl-compact;
  }
  &-xl {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xl;
    line-height: $mb-line-height-xl-compact;
  }
  &-l {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l-compact;
  }
  &-l {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l-compact;
  }
  &-md {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-m;
    line-height: $mb-line-height-m-compact;
  }
  &-sm {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-s;
    line-height: $mb-line-height-s-compact;
  }
  &-xs {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xs;
    line-height: $mb-line-height-xs-compact;
  }
  &-xxs {
    color: $mb-color-gray-800;
    font-size: $mb-font-size-xxs;
    line-height: $mb-line-height-xxs-compact;
  }
}

.label {
  color: $mb-color-gray-700;
  font-weight: $mb-font-weight-normal;
  font-size: $mb-font-size-m;
  &-xxxl {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-xxxl;
    line-height: $mb-line-height-xxxl-compact;
  }
  &-xxl {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl-compact;
  }
  &-xl {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-xxl;
    line-height: $mb-line-height-xxl-compact;
  }
  &-xl {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-xl;
    line-height: $mb-line-height-xl-compact;
  }
  &-l {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l-compact;
  }
  &-l {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-l;
    line-height: $mb-line-height-l-compact;
  }
  &-md {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-m;
    line-height: $mb-line-height-m-compact;
  }
  &-sm {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-s;
    line-height: $mb-line-height-s-compact;
  }
  &-xs {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-xs;
    line-height: $mb-line-height-xs-compact;
  }
  &-xxs {
    color: $mb-color-gray-700;
    font-size: $mb-font-size-xxs;
    line-height: $mb-line-height-xxs-compact;
  }
}

ul {
  // list-style: none; - already in reset
  li {
    &::before {
      content: "\2022";
      color: $mb-color-cyan-500;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

// To be addressed:
// 
// 
// a
// abbr
// acronym
// address
// applet
// area
// article
// aside
// audio
// b
// base
// basefont
// bdi
// bdo
// big
// blockquote
// body
// br
// button
// canvas
// caption
// center
// cite
// code
// col
// colgroup
// datalist
// dd
// del
// details
// dfn
// dir
// div
// dl
// dt
// em
// embed
// fieldset
// figcaption
// figure
// font
// footer
// form
// frame
// frameset
// h1
// head
// header
// hgroup
// hr
// html
// i
// iframe
// img
// input
// ins
// kbd
// keygen
// label
// legend
// li
// link
// map
// mark
// menu
// meta
// meter
// nav
// noframes
// noscript
// object
// ol
// optgroup
// option
// output
// p
// param
// pre
// progress
// q
// rp
// rt
// ruby
// s
// samp
// script
// section
// select
// small
// source
// span
// strike
// strong
// style
// sub
// summary
// sup
// table
// tbody
// td
// textarea
// tfoot
// th
// thead
// time
// title
// tr
// tt
// u
// ul
// var
// video
// wbr

// Moved here from reset:
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
