/* DEFINE FONTS LOCALLY START */

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBMPlexSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBMPlexSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBMPlexSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/IBMPlexSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/IBMPlexSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/IBMPlexSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
/* DEFINE FONTS LOCALLY END */

/* FONT SIZES START */

$font-size-xxs         : .625rem;
$font-size-xs          : .75rem;
$font-size-s           : .875rem;
$font-size-m           : 1rem;
$font-size-l           : 1.25rem;
$font-size-xl          : 1.5rem;
$font-size-xxl         : 2rem;
$font-size-xxxl        : 2.5rem;

/* FONT SIZES END */

/* FONT WEIGHT START */

$font-weight-normal     : 400;
$font-weight-bold       : 500;

/* FONT WEIGHT END */

/* LETTER SPACING START */

$letter-spacing-tighter    : -0.2em;
$letter-spacing-tight      : -0.1em;
$letter-spacing-normal     : 0em;
$letter-spacing-loose      : 0.1em;
$letter-spacing-looser     : 0.2em;

/* LETTER SPACING END */

/* LINE HEIGHT START */

$line-height-xxs        : .75rem;
$line-height-xxs-compact       : .50rem;

$line-height-xs         : 1rem;
$line-height-xs-compact        : .75rem;

$line-height-s          : 1.25rem;
$line-height-s-compact         : 1rem;

$line-height-m          : 1.5rem;
$line-height-m-compact         : 1.25rem;

$line-height-l          : 1.75rem;
$line-height-l-compact         : 1.5rem;

$line-height-xl         : 2rem;
$line-height-xl-compact        : 1.75rem;

$line-height-xxl        : 2.5rem;
$line-height-xxl-compact       : 2.25rem;

$line-height-xxxl       : 3rem;
$line-height-xxxl-compact      : 2.75rem;

/* LINE HEIGHT END */

/* TEXT OVERFLOW MIXIN START */

@mixin wrap-text($wrap-text: false) {
  @if $wrap-text {
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* TEXT OVERFLOW MIXIN END */


%headings{
  color: $color-gray-900;
  font-weight: $font-weight-bold;
  &-xxxl{
    font-size: $font-size-xxxl;
    line-height: $line-height-xxxl;
  }
  &-xxl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }
  &-xl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }
  &-xl{
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
  &-md{
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
  &-sm{
    font-size: $font-size-s;
    line-height: $line-height-s;
  }
  &-xs{
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
  &-xxs{
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
  }
}

%text{
  color: $color-gray-800;
  font-weight: $font-weight-normal;
  &-xxxl{
    font-size: $font-size-xxxl;
    line-height: $line-height-xxxl;
  }
  &-xxl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }
  &-xl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }
  &-xl{
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
  &-md{
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
  &-sm{
    font-size: $font-size-s;
    line-height: $line-height-s;
  }
  &-xs{
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
  &-xxs{
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
  }
}

%text{
  color: $color-gray-800;
  font-weight: $font-weight-normal;
  &-xxxl{
    font-size: $font-size-xxxl;
    line-height: $line-height-xxxl;
  }
  &-xxl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }
  &-xl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }
  &-xl{
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
  &-md{
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
  &-sm{
    font-size: $font-size-s;
    line-height: $line-height-s;
  }
  &-xs{
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
  &-xxs{
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
  }
}

%caption{
  color: $color-gray-800;
  font-weight: $font-weight-bold;
  &-xxxl{
    font-size: $font-size-xxxl;
    line-height: $line-height-xxxl-compact;
  }
  &-xxl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl-compact;
  }
  &-xl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl-compact;
  }
  &-xl{
    font-size: $font-size-xl;
    line-height: $line-height-xl-compact;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l-compact;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l-compact;
  }
  &-md{
    font-size: $font-size-m;
    line-height: $line-height-m-compact;
  }
  &-sm{
    font-size: $font-size-s;
    line-height: $line-height-s-compact;
  }
  &-xs{
    font-size: $font-size-xs;
    line-height: $line-height-xs-compact;
  }
  &-xxs{
    font-size: $font-size-xxs;
    line-height: $line-height-xxs-compact;
  }
}

%desc{
  color: $color-gray-700;
  font-weight: $font-weight-normal;
  &-xxxl{
    font-size: $font-size-xxxl;
    line-height: $line-height-xxxl-compact;
  }
  &-xxl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl-compact;
  }
  &-xl{
    font-size: $font-size-xxl;
    line-height: $line-height-xxl-compact;
  }
  &-xl{
    font-size: $font-size-xl;
    line-height: $line-height-xl-compact;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l-compact;
  }
  &-l{
    font-size: $font-size-l;
    line-height: $line-height-l-compact;
  }
  &-md{
    font-size: $font-size-m;
    line-height: $line-height-m-compact;
  }
  &-sm{
    font-size: $font-size-s;
    line-height: $line-height-s-compact;
  }
  &-xs{
    font-size: $font-size-xs;
    line-height: $line-height-xs-compact;
  }
  &-xxs{
    font-size: $font-size-xxs;
    line-height: $line-height-xxs-compact;
  }
}
