.bg-blue-100{
    background-color: $color-blue-100;
    color: $color-black;
}
.bg-blue-200{
    background-color: $color-blue-200;
    color: $color-black;
}
.bg-blue-300{
    background-color: $color-blue-300;
    color: $color-black;
}
.bg-blue-400{
    background-color: $color-blue-400;
    color: $color-black;
}
.bg-blue-500{
    background-color: $color-blue-500;
    color: $color-white;
}
.bg-blue-600{
    background-color: $color-blue-600;
    color: $color-white;
}
.bg-blue-700{
    background-color: $color-blue-700;
    color: $color-white;
}
.bg-blue-800{
    background-color: $color-blue-800;
    color: $color-white;
}
.bg-blue-900{
    background-color: $color-blue-900;
    color: $color-white;
}
// red

.bg-red-100{
    background-color: $color-red-100;
    color: $color-black;
}
.bg-red-200{
    background-color: $color-red-200;
    color: $color-black;
}
.bg-red-300{
    background-color: $color-red-300;
    color: $color-black;
}
.bg-red-400{
    background-color: $color-red-400;
    color: $color-black;
}
.bg-red-500{
    background-color: $color-red-500;
    color: $color-white;
}
.bg-red-600{
    background-color: $color-red-600;
    color: $color-white;
}
.bg-red-700{
    background-color: $color-red-700;
    color: $color-white;
}
.bg-red-800{
    background-color: $color-red-800;
    color: $color-white;
}
.bg-red-900{
    background-color: $color-red-900;
    color: $color-white;
}
// yellow

.bg-yellow-100{
    background-color: $color-yellow-100;
    color: $color-black;
}
.bg-yellow-200{
    background-color: $color-yellow-200;
    color: $color-black;
}
.bg-yellow-300{
    background-color: $color-yellow-300;
    color: $color-black;
}
.bg-yellow-400{
    background-color: $color-yellow-400;
    color: $color-black;
}
.bg-yellow-500{
    background-color: $color-yellow-500;
    color: $color-white;
}
.bg-yellow-600{
    background-color: $color-yellow-600;
    color: $color-white;
}
.bg-yellow-700{
    background-color: $color-yellow-700;
    color: $color-white;
}
.bg-yellow-800{
    background-color: $color-yellow-800;
    color: $color-white;
}
.bg-yellow-900{
    background-color: $color-yellow-900;
    color: $color-white;
}
// indigo

.bg-indigo-100{
    background-color: $color-indigo-100;
    color: $color-black;
}
.bg-indigo-200{
    background-color: $color-indigo-200;
    color: $color-black;
}
.bg-indigo-300{
    background-color: $color-indigo-300;
    color: $color-black;
}
.bg-indigo-400{
    background-color: $color-indigo-400;
    color: $color-black;
}
.bg-indigo-500{
    background-color: $color-indigo-500;
    color: $color-white;
}
.bg-indigo-600{
    background-color: $color-indigo-600;
    color: $color-white;
}
.bg-indigo-700{
    background-color: $color-indigo-700;
    color: $color-white;
}
.bg-indigo-800{
    background-color: $color-indigo-800;
    color: $color-white;
}
.bg-indigo-900{
    background-color: $color-indigo-900;
    color: $color-white;
}

// purple 

.bg-purple-100{
    background-color: $color-purple-100;
    color: $color-black;
}
.bg-purple-200{
    background-color: $color-purple-200;
    color: $color-black;
}
.bg-purple-300{
    background-color: $color-purple-300;
    color: $color-black;
}
.bg-purple-400{
    background-color: $color-purple-400;
    color: $color-black;
}
.bg-purple-500{
    background-color: $color-purple-500;
    color: $color-white;
}
.bg-purple-600{
    background-color: $color-purple-600;
    color: $color-white;
}
.bg-purple-700{
    background-color: $color-purple-700;
    color: $color-white;
}
.bg-purple-800{
    background-color: $color-purple-800;
    color: $color-white;
}
.bg-purple-900{
    background-color: $color-purple-900;
    color: $color-white;
}

// pink

.bg-pink-100{
    background-color: $color-pink-100;
    color: $color-black;
}
.bg-pink-200{
    background-color: $color-pink-200;
    color: $color-black;
}
.bg-pink-300{
    background-color: $color-pink-300;
    color: $color-black;
}
.bg-pink-400{
    background-color: $color-pink-400;
    color: $color-black;
}
.bg-pink-500{
    background-color: $color-pink-500;
    color: $color-white;
}
.bg-pink-600{
    background-color: $color-pink-600;
    color: $color-white;
}
.bg-pink-700{
    background-color: $color-pink-700;
    color: $color-white;
}
.bg-pink-800{
    background-color: $color-pink-800;
    color: $color-white;
}
.bg-pink-900{
    background-color: $color-pink-900;
    color: $color-white;
}

// cyan

.bg-cyan-100{
    background-color: $color-cyan-100;
    color: $color-black;
}
.bg-cyan-200{
    background-color: $color-cyan-200;
    color: $color-black;
}
.bg-cyan-300{
    background-color: $color-cyan-300;
    color: $color-black;
}
.bg-cyan-400{
    background-color: $color-cyan-400;
    color: $color-black;
}
.bg-cyan-500{
    background-color: $color-cyan-500;
    color: $color-white;
}
.bg-cyan-600{
    background-color: $color-cyan-600;
    color: $color-white;
}
.bg-cyan-700{
    background-color: $color-cyan-700;
    color: $color-white;
}
.bg-cyan-800{
    background-color: $color-cyan-800;
    color: $color-white;
}
.bg-cyan-900{
    background-color: $color-cyan-900;
    color: $color-white;
}

// teal

.bg-teal-100{
    background-color: $color-teal-100;
    color: $color-black;
}
.bg-teal-200{
    background-color: $color-teal-200;
    color: $color-black;
}
.bg-teal-300{
    background-color: $color-teal-300;
    color: $color-black;
}
.bg-teal-400{
    background-color: $color-teal-400;
    color: $color-black;
}
.bg-teal-500{
    background-color: $color-teal-500;
    color: $color-white;
}
.bg-teal-600{
    background-color: $color-teal-600;
    color: $color-white;
}
.bg-teal-700{
    background-color: $color-teal-700;
    color: $color-white;
}
.bg-teal-800{
    background-color: $color-teal-800;
    color: $color-white;
}
.bg-teal-900{
    background-color: $color-teal-900;
    color: $color-white;
}

// orange

.bg-orange-100{
    background-color: $color-orange-100;
    color: $color-black;
}
.bg-orange-200{
    background-color: $color-orange-200;
    color: $color-black;
}
.bg-orange-300{
    background-color: $color-orange-300;
    color: $color-black;
}
.bg-orange-400{
    background-color: $color-orange-400;
    color: $color-black;
}
.bg-orange-500{
    background-color: $color-orange-500;
    color: $color-white;
}
.bg-orange-600{
    background-color: $color-orange-600;
    color: $color-white;
}
.bg-orange-700{
    background-color: $color-orange-700;
    color: $color-white;
}
.bg-orange-800{
    background-color: $color-orange-800;
    color: $color-white;
}
.bg-orange-900{
    background-color: $color-orange-900;
    color: $color-white;
}

// cyan

.bg-cyan-100{
    background-color: $color-cyan-100;
    color: $color-black;
}
.bg-cyan-200{
    background-color: $color-cyan-200;
    color: $color-black;
}
.bg-cyan-300{
    background-color: $color-cyan-300;
    color: $color-black;
}
.bg-cyan-400{
    background-color: $color-cyan-400;
    color: $color-black;
}
.bg-cyan-500{
    background-color: $color-cyan-500;
    color: $color-white;
}
.bg-cyan-600{
    background-color: $color-cyan-600;
    color: $color-white;
}
.bg-cyan-700{
    background-color: $color-cyan-700;
    color: $color-white;
}
.bg-cyan-800{
    background-color: $color-cyan-800;
    color: $color-white;
}
.bg-cyan-900{
    background-color: $color-cyan-900;
    color: $color-white;
}

// gray

.bg-gray-100{
    background-color: $color-gray-100;
    color: $color-black;
}
.bg-gray-200{
    background-color: $color-gray-200;
    color: $color-black;
}
.bg-gray-300{
    background-color: $color-gray-300;
    color: $color-black;
}
.bg-gray-400{
    background-color: $color-gray-400;
    color: $color-black;
}
.bg-gray-500{
    background-color: $color-gray-500;
    color: $color-white;
}
.bg-gray-600{
    background-color: $color-gray-600;
    color: $color-white;
}
.bg-gray-700{
    background-color: $color-gray-700;
    color: $color-white;
}
.bg-gray-800{
    background-color: $color-gray-800;
    color: $color-white;
}
.bg-gray-900{
    background-color: $color-gray-900;
    color: $color-white;
}

// green

.bg-green-100{
    background-color: $color-green-100;
    color: $color-black;
}
.bg-green-200{
    background-color: $color-green-200;
    color: $color-black;
}
.bg-green-300{
    background-color: $color-green-300;
    color: $color-black;
}
.bg-green-400{
    background-color: $color-green-400;
    color: $color-black;
}
.bg-green-500{
    background-color: $color-green-500;
    color: $color-white;
}
.bg-green-600{
    background-color: $color-green-600;
    color: $color-white;
}
.bg-green-700{
    background-color: $color-green-700;
    color: $color-white;
}
.bg-green-800{
    background-color: $color-green-800;
    color: $color-white;
}
.bg-green-900{
    background-color: $color-green-900;
    color: $color-white;
}
