@mixin flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin flex-center-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@mixin flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
.align-start{
    align-items: flex-start;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-start{
    text-align: right;
}